/* ======================================================== BASE ================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #dce0ee;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.home-header {
    /*encabezado*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e7e7e7;
    background-color: transparent;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
}

/*BOTON DE REGRESAR*/
.text {
    margin-right: auto; /* Para empujar el botón hacia la derecha */
}

.back-button {
    display: flex;
    align-items: center;
}

.back-btn {
    display: flex;
    align-items: center;
    text-decoration: none; /* Sin subrayado */
    color: inherit;  /* Para heredar el color del texto */
    margin-left: 15px; /* Espacio entre el texto y el botón */
    color: var(--text-color);
}

.back-btn i {
    font-size: 2em; /* Tamaño del ícono */
}

/*BOTON DE REGRESAR*/

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}


::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #121212;
    --sidebar-color: #1e1f20;
    --primary-color: #3a3b3c;
    --primary-color-light: #2c2d30;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0; /* Mantén la barra al principio */
    left: 0; 
    height: 100vh; /* Altura total */
    width: 260px; /* Ancho de la barra lateral */
    padding: 10px 14px; /* Espaciado interno */
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100; 
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .logo-text .name,
.sidebar.close .logo-text .profession {
    display: none;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.separator {
    border: none; /* Eliminar el estilo por defecto */
    height: 1px; /* Alto de la línea */
    background-color: var(--text-color);
    margin: 10px 0; /* Margen alrededor de la línea */
}



.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 60%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home-header .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

/* =============================================== BASE ================================================== */

/* Card list container */
.card-list-client {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    max-width: 1700px;
    margin: 30px auto;
    padding: 20px;
    gap: 20px;
}

/* Individual card */
.card-list-client .card-client {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.041);
    list-style: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Card hover effect (optional) */
.card-client:hover {
    transform: scale(1.03);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 8px 100px #0000002f;
} 

body.dark .card-client:hover{
    transform: scale(1.03);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 8px 100px #dadcff25;
}

.card-client img {
    width: 100px;
    /* Cambia este valor según sea necesario */
    height: auto;
    /* Mantiene la proporción de la imagen */
    object-fit: cover;
    /* Asegura que la imagen no se distorsione */
    display: block;
    /* Elimina el espacio en línea */
    margin: 0 auto;
    /* Centra la imagen */
}

/* Image */
.default-client-image {
    width: 100%;
    height: auto;
    /* Adjust height for aspect ratio */
    border-radius: 4px;
}

/* Client name */
.default-client-name {
    font-size: 14px;
    font-weight: 600;
    color: #1d1d1d;
    line-height: 1.3;
    margin-top: 10px;
    text-decoration: none;
}

/* Client company */
.client-company {
    margin: 0;
    color: #777;
    font-size: 0.7em;
    text-decoration: none;
}

.default-client-name,
.client-company {
    white-space: nowrap;
    /* Prevent wrapping */
    overflow: hidden;
    /* Hide excess content */
    text-overflow: ellipsis;
    /* Add ellipsis for overflow */
}

body.dark .card-client {
    background: #232425;
}

body.dark .card-list-client .default-client-name {
    color: #a5a5a5;
}

body.dark .card-list-client .client-company {
    color: white;
}

body.dark .card-list-client:hover .card-client {
    color: #fff;
}

.add-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    padding: 20px;
    width: 80%;
    height: 70%;
    background-color: #E4E9F7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.041);
    transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
}

.add-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40%;
    width: 50%;
    height: 800px;
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-height: 90vh;
    font-size: 1.2rem;
    line-height: 1.5;
}

.preview-title {
    position: absolute;
    top: 30%;
    /* Position at the top */
    left: 71%;
    /* Align to the left */
    width: 100%;
    /* Span the entire width */
    margin-bottom: 1rem;
    /* Add some margin for spacing */
}


.add-modal.visible {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.add-modal.hidden {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    visibility: hidden;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.651);
    z-index: 100;
}

.modal-backdrop.hidden {
    display: none;
}

.modal-backdrop.visible {
    display: block;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #ff5656;
}

.close-icon {
    color: #fff;
    font-size: 16px;
}

.form-section {
    flex: 2;
    /* Toma más espacio que la sección de previsualización */
    margin-right: 20px;
    /* Espacio entre el formulario y la previsualización */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.5rem;
}

.submit-btn {
    padding: 0.6rem 1rem;
    background-color: #7E73F5;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
}

.add-modal .submit-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.submit-btn:hover {
    background-color: #5c4ef8;
    /* Color más oscuro al pasar el ratón */
}

.add-modal .reset-btn {
    position: absolute;
    bottom: 30px;
    right: 180px;
}

.reset-btn {
    padding: 0.6rem 1rem;
    background-color: #f86363;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #e64341;
    /* Color más oscuro al pasar el ratón */
}



.preview-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(193, 208, 212)
}

.preview-section {
    position: absolute;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.041);
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    left: 73%;
    /* Ajus
    ta el ancho aquí */
}




.preview-card img {
    width: 100px;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


.preview-card .client-name {
    font-size: 14px;
    font-weight: 600
}

.home-header .add-btn {
    --main-focus: #756fd6;
    --font-color: #5a5a5a;
    --bg-color-sub: #756fd6;
    --bg-color: #e4e9f700;
    --main-color: #756fd6;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.add-btn,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.add-btn .button__text {
    transform: translateX(33px);
    color: var(--font-color);
    font-weight: 600;
}

.add-btn .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 40px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E4E9F7;
    ;
}

.add-btn .svg {
    width: 20px;
    fill: var(--main-color);
}

.add-btn:hover {
    background: var(--bg-color);
}

.add-btn:hover .button__text {
    color: transparent;
}

body.dark .home-header .add-btn .button__text {
    color: var(--text-color);
}

.add-btn:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.add-btn:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}

.form-group.upload-box {
    margin-top: 7px;
    width: 400px;
    height: 110px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s;
}

.form-group.upload-box:hover {
    border-color: #7E73F5;
}

.upload-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #707070;
}

.upload-icon-container i {
    font-size: 32px;
    margin-bottom: 8px;
}

.upload-icon-container span {
    font-size: 14px;
}