/* ======================================================== BASE ================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #dce0ee;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.home-header {
    /*encabezado*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e7e7e7;
    background-color: transparent;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
}

/*BOTON DE REGRESAR*/
.text {
    margin-right: auto;
    /* Para empujar el botón hacia la derecha */
}

.back-button {
    display: flex;
    align-items: center;
}

.back-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Sin subrayado */
    color: inherit;
    /* Para heredar el color del texto */
    margin-left: 15px;
    /* Espacio entre el texto y el botón */
    color: var(--text-color);
}

.back-btn i {
    font-size: 2em;
    /* Tamaño del ícono */
}

/*BOTON DE REGRESAR*/

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}


::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #121212;
    --sidebar-color: #1e1f20;
    --primary-color: #3a3b3c;
    --primary-color-light: #2c2d30;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    /* Mantén la barra al principio */
    left: 0;
    height: 100vh;
    /* Altura total */
    width: 260px;
    /* Ancho de la barra lateral */
    padding: 10px 14px;
    /* Espaciado interno */
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .logo-text .name,
.sidebar.close .logo-text .profession {
    display: none;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.separator {
    border: none;
    /* Eliminar el estilo por defecto */
    height: 1px;
    /* Alto de la línea */
    background-color: var(--text-color);
    margin: 10px 0;
    /* Margen alrededor de la línea */
}



.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 60%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home-header .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

/* =============================================== BASE ================================================== */

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1600px;
    margin: 30px auto;
    padding: 20px;
    gap: 20px;
}

.card-list .card-item,
.preview-section .preview-card-item {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.041);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card-list .card-item .card-title,
.card-list .card-item .card-name-container,
.card-list .card-item .card-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-list .card-item .card-name {
    color: #444444;
    font-weight: 500;
}

.card-list .card-item:hover {
    transform: scale(1.03);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 8px 100px #0000002f;
}

body.dark .card-list .card-item:hover {
    transform: scale(1.03);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 8px 100px #dadcff25;
}

.card-list .card-item img,
.preview-section .preview-card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.card-list .card-item .card-title,
.preview-card-title {
    color: #1d1d1d;
    /* Color del título */
    font-size: 1.438rem;
    /* Tamaño del título */
    font-weight: 600;
    margin-top: 10px;
    /* Espaciado por encima */
}

.card-list .card-item .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.preview-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.preview-job-title,
.preview-date,
.preview-phone {
    display: inline-block;
    /* Alineado en línea */
    padding: 8px 15px;
    font-size: 11px;
    border-radius: 50px;
    font-weight: 600;
    color: #242526;
    margin-top: 10px;
    /* Espacio entre elementos */
}

.card-list .card-item .job-title,
.card-list .card-item .phone,
.card-list .card-item .date {
    display: inline-block;
    padding: 8px 15px;
    font-size: 11px;
    border-radius: 50px;
    font-weight: 600;
    color: #242526;
}

.card-list .card-item .types {
    display: inline-block;
    padding: 8px 15px;
    font-size: 11px;
    border-radius: 50px;
    font-weight: 600;
    color: #242526;
    margin-right: 5px;
    /* Añade un margen derecho para separar los elementos */
}

.card-list .card-item .job-title,
.preview-job-title {
    background-color: #cbd3eb;
    color: #242526;
}

.card-list .card-item .phone,
.preview-phone {
    background-color: #d6d6d6;
    color: #242526;
}

.card-list .card-item .date,
.preview-date {
    background-color: #d6d6d6;
    color: #242526;
}


.job-type-pendon {
    background-color: #d7c6ff;
    /* Morado pastel claro */
    color: #2e2e2e;
}

.job-type-vinilo {
    background-color: #efc6ff;
    /* Azul pastel claro */
    color: #2e2e2e;
}

.job-type-estructura,
.job-type-estructura- {
    background-color: rgb(255, 194, 252);
    /* Morado pastel más oscuro */
    color: #2e2e2e;
}

.job-type-valla-publicitaria {
    background-color: rgb(192, 214, 255);
    /* Azul pastel medio */
    color: #2e2e2e;
}

.job-type-presentacion,
.job-type-tarjeta-de-presentacion {
    background-color: rgb(188, 255, 244);
    /* Morado pastel más claro */
    color: #2e2e2e;
}

.job-type-volantes {
    background-color: rgb(178, 218, 255);
    /* Azul pastel más claro */
    color: #2e2e2e;
}

.job-type-banderin {
    background-color: rgb(180, 254, 211);
    /* Morado pastel más oscuro */
    color: #2e2e2e;
}

.job-type-camisa {
    background-color: #d8ffc6;
    /* Morado pastel claro */
    color: #2e2e2e;
}

.job-type-neoflex {
    background-color: #fffbc6;
    /* Azul pastel medio */
    color: #2e2e2e;
}

.job-type-corte-v {
    background-color: #ffe0c6;
    /* Azul pastel claro */
    color: #2e2e2e;
}

.job-type-acrilico {
    background-color: rgb(255, 199, 162);
    /* Morado pastel más claro */
    color: #2e2e2e;
}

.job-types-wrapper {
    overflow: hidden;
    /* Oculta los elementos que desbordan */
    width: 100%;
}

.job-types-container {
    display: flex;
    /* Muestra los trabajos en línea */
    white-space: nowrap;
    /* Previene que los elementos se rompan a la siguiente línea */
    position: relative;
    /* Posicionamiento relativo para el desplazamiento */
    margin-top: 10px;
    /* Ajusta el margen superior aquí también si es necesario */
    width: auto;
    /* Ajusta el ancho al contenido */
    animation: none;
    /* No debe haber animación por defecto */
}

.preview-job-types-wrapper {
    overflow: hidden;
    /* Oculta los elementos que desbordan */
    width: 100%;
}

.preview-job-types-container {
    display: flex;
    /* Muestra los trabajos en línea */
    white-space: nowrap;
    /* Previene que los elementos se rompan a la siguiente línea */
    position: relative;
    /* Posicionamiento relativo para el desplazamiento */
    margin-top: 10px;
    /* Ajusta el margen superior aquí también si es necesario */
    width: auto;
    /* Ajusta el ancho al contenido */
}


.preview-section .preview-job-types-container .types {
    display: inline-block;
    padding: 8px 15px;
    font-size: 11px;
    border-radius: 50px;
    font-weight: 600;
    color: #242526;
    margin-right: 5px;
}

.card-list .card-item .card-description,
.preview-section .preview-card-description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #707070;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.card-list .card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #616161;
    border-radius: 50%;
    margin-top: auto;
    transition: 0.2s ease;
}


.card-list .card-item .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: #616161;
    border-radius: 50%;
    transition: 0.2s ease;
    cursor: pointer;
}

.card-list .card-item:hover .delete {
    background: transparent;
    /* Cambia a transparente o la propiedad que desees */
    /* Color solo se aplicará cuando se haga hover sobre delete directamente */
}

.card-list .card-item .delete:hover {
    background: #ff6d6d;
    /* Aquí el color de hover específico para .delete */
    color: #fff;
    /* Color del icono de delete al hover */
}

.card-list .card-item:hover .arrow {
    background: #756fd6;
    /* Aquí el color de hover específico para .arrow */
    color: #fff;
    /* Color del icono de arrow al hover */
}

.card-list .card-item .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    /* Ajusta el margen superior aquí también si es necesario */
}

/* Dark Mode Styles */
body.dark .card-list .card-item {
    background: #232425;
    color: #fff;
}

body.dark .card-item .card-title,
body.dark .preview-card-title {
    color: #d4d4d4;
}

body.dark .card-item .card-name,
body.dark .preview-card-name {
    color: #d4d4d4;
}

body.dark .card-item .arrow {
    color: #c7c7c7;
}

body.dark .card-list .card-item:hover .arrow {
    background: #8782e9;
    color: #242526;
}

.home-header .add-btn {
    --main-focus: #756fd6;
    --font-color: #5a5a5a;
    --bg-color-sub: #756fd6;
    --bg-color: #e4e9f700;
    --main-color: #756fd6;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.add-btn,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.add-btn .button__text {
    transform: translateX(33px);
    color: var(--font-color);
    font-weight: 600;
}

.add-btn .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 40px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E4E9F7;
    ;
}

.add-btn .svg {
    width: 20px;
    fill: var(--main-color);
}

.add-btn:hover {
    background: var(--bg-color);
}

.add-btn:hover .button__text {
    color: transparent;
}

body.dark .home-header .add-btn .button__text {
    color: var(--text-color);
}

.add-btn:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.add-btn:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}

.add-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
}

.add-modal.visible {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.add-modal.hidden {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    visibility: hidden;
}


.preview-section .preview-card-item {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.dark .preview-section .preview-card-item {
    background-color: #232425;
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custum-file-upload input {
    display: none;
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.651);
    z-index: 100;
}

.modal-backdrop.hidden {
    display: none;
}

.modal-backdrop.visible {
    display: block;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #ff5656;
}

.close-icon {
    color: #fff;
    font-size: 16px;
    position: relative;
    top: 1px;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group select {
    
    width: 100%;
    /* Ancho completo */
    padding: 0.5rem;
    /* Espaciado interno */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Bordes redondeados */
    background-color: white;
    /* Fondo blanco */
    color: #333;
    /* Color del texto */
    font-size: 1rem;
    /* Tamaño de fuente coherente */
    transition: border 0.3s, box-shadow 0.3s;
    /* Transiciones suaves */
    cursor: pointer;
    /* Cambia el cursor al pasar el ratón */
}


body.dark .form-group select {
    background-color: #343536;
    /* Fondo oscuro para el selector en modo oscuro */
    color: #E0E0E0;
    /* Texto claro en modo oscuro */
    border: 1px solid transparent;
    /* Borde transparente por defecto */
}


#currency {
    border-radius: 5px;
    /* Bordes redondeados */
    border: 1px solid #ccc;
    /* Borde gris claro */
    background-color: white;
    /* Fondo blanco */
    color: #333;
    /* Color del texto */
    font-size: 1rem;
    /* Tamaño de fuente consistente */
    transition: border 0.3s, box-shadow 0.3s;
    /* Transiciones suaves */
    cursor: pointer;
    /* Cambia el cursor al pasar encima */
    margin-left: 10px;
    /* Espacio pequeño a la izquierda */
}

body.dark #currency {
    background-color: #343536;
    /* Fondo oscuro para el selector */
    color: #E0E0E0;
    /* Texto claro */
    border: none;
}

.form-group label {
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #1f1f1f;
    font-size: 15px;
}

body.dark .form-group label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #9c9c9c;
    font-size: 15px;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #1c1c1c;
}

.job-type-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    /* Esta línea centra los botones horizontalmente */
}

.job-type-btn {
    display: flex;
    /* Flex para mejor alineación */
    align-items: center;
    padding: 10px 15px;
    background-color: rgba(221, 221, 221, 0);
    /* Fondo transparente */
    color: rgb(61, 61, 61);
    /* Texto transparente */
    font-size: 2px;
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
    /* Para posicionar el checkbox */
    user-select: none;
}

.job-type-btn:hover {
    transform: translateY(-2px);
    /* Efecto de elevación al hover */
}

.job-type-btn input {
    display: none;
    /* Ocultar el checkbox original */
}

.custom-checkbox {
    display: inline-block;
    width: 24px;
    /* Ancho de la caja */
    height: 24px;
    /* Alto de la caja */
    border-radius: 5px;
    /* Bordes redondeados */
    background-color: #d4d4d4;
    /* Color de fondo de la checkbox */
    margin-right: 10px;
    /* Espacio a la derecha */
    position: relative;
    /*Para el checkmark */
}

body.dark .custom-checkbox {
    display: inline-block;
    width: 24px;
    /* Ancho de la caja */
    height: 24px;
    /* Alto de la caja */
    border-radius: 5px;
    /* Bordes redondeados */
    background-color: #696969;
    /* Color de fondo de la checkbox */
    margin-right: 10px;
    /* Espacio a la derecha */
    position: relative;
    /*Para el checkmark */
}

.job-type-btn input:checked+.custom-checkbox {
    background-color: #757eff;
    /* Color de fondo al seleccionar */
}


/* Mostrar el texto al seleccionar */
.job-type-btn:hover span,
.job-type-btn input:checked+span {
    color: white;
    /* Texto visible */
    opacity: 1;
    /* Asegurar que el texto sea visible */
}


.submit-btn {
    padding: 0.5rem 1rem;
    background-color: #7E73F5;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #5c4ef8;
    /* Color más oscuro al pasar el ratón */
}

.reset-btn {
    padding: 0.5rem 1rem;
    background-color: #f86363;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #bb3835;
    /* Color más oscuro al pasar el ratón */
}


.form-row {
    display: flex;
    gap: 1rem;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group textarea {
    width: 100%;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: transparent;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 20px;
    background: white;
    border-radius: 12px;
    /* Bordes más suaves */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    /* Sombra más suave para un efecto elevado */
    max-height: 100vh;
    overflow-y: auto;
    /* Habilitar desplazamiento si es necesario */
    border: 1px solid #EAEAEA;
    /* Bordes sutiles */
    transition: background-color 0.3s, border 0.3s;
    /* Transiciones suaves */
}

/* Modo oscuro */
body.dark .form-section {
    background: #232425;
    /* Fondo más oscuro para la sección del formulario */
    border: none;
    /* Eliminar bordes */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    /* Sombra más pronunciada */
}

body.dark .form-group input,
body.dark .form-group textarea {
    background-color: #343536;
    /* Fondo oscuro para el input */
    color: #E0E0E0;
    /* Texto claro */
    border: 1px solid transparent;
    /* Sin bordes visibles al principio */
    border-radius: 5px;
    /* Bordes redondeados */
    padding: 0.5rem;
    /* Espaciado interno */
    transition: border-color 0.3s, box-shadow 0.3s;
    /* Transiciones suaves */
}

body.dark .form-group input:focus,
body.dark .form-group textarea:focus {
    outline: none;
    /* Suprime el contorno por defecto */
}

.upload-box {
    border: 1px dashed #3d3d3d;
    /* Borde dashed para el área de carga */
    padding: 20px;
    /* Espaciado interno */
    border-radius: 8px;
    /* Bordes redondeados */
    transition: border-color 0.3s;
    /* Transición suave del color del borde */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* Cambia el cursor cuando se pasa por encima */
}

.upload-box:hover {
    border-color: var(--primary-color);
    /* Cambia el color del borde en hover */
}

.upload-icon-container {
    text-align: center;
    /* Centra el icono y el texto */
    color: var(--text-color);
    /* Color del texto */
}

.upload-icon-container i {
    font-size: 30px;
    /* Aumentar el tamaño del ícono */
    margin: 8px;
    /* Espacio debajo del ícono */
}

.upload-icon-container span {
    font-size: 12px;
    /* Tamaño de la fuente del texto */
}

.add-modal .submit-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.add-modal .reset-btn {
    position: absolute;
    bottom: 30px;
    right: 180px;
}

.add-modal-content {
    display: flex;
}

.preview-section {
    flex: 1;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group input[id="remaining"] {
    background-color: #f5f5f5;
    color: #666;
    border: 2px solid #ddd;
    pointer-events: none;
    opacity: 0.8;
}

.confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
}

.confirmation-modal .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.041);
}

.modal-actions {
    margin-top: 20px;
}

.confirm-btn,
.cancel-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-btn {
    background-color: #60b36e;
    color: #fff;
}

.cancel-btn {
    background-color: #ff5b5b;
    color: #fff;
}

.confirmation-modal.hidden {
    transform: scale(1.2);
    opacity: 0;
    visibility: hidden;
}

.confirmation-modal.visible {
    opacity: 1;
    visibility: visible;
}

.destination-selects {
    display: flex; /* Utiliza flexbox para alinear en fila */
}

.destination-selects select { /* Permite que cada selector ocupe el mismo espacio */
    width: 270px; /* Permite que los selectores se reduzcan en tamaño si es necesario */
    margin-right: 10px; /* Espacio entre selectores, excepto el último */
}

/* Elimina el margen derecho del último selector */
.destination-selects select:last-child {
    margin-right: 0; /* Sin margen derecho en el último selector */
}

/* Estilo general para el dropdown */
.sort-dropdown {
    display: inline-block;
    position: relative;
}

/* Estilo para las opciones */
.sort-options {
    position: absolute;
    background-color: white; /* Color de fondo del menú */
    box-shadow: 0 2px 100px rgba(0, 0, 0, 0.103); /* Sombra */
    z-index: 1; /* Asegúrate de que esté por encima de otros elementos */
    border-radius: 4px; /* Bordes redondeados */
    padding: 1px 0; /* Espaciado interno */
}

.sort-option + .sort-option {
    border-top: 1px solid #e0e0e0; /* Línea divisoria */
}

/* Inicialmente escondemos las opciones */
.sort-options.hidden {
    display: none;
}



.sort-option {
    padding: 10px 30px;
    cursor: pointer;
    transition: background 0.3s ease;
    color: #121212;
    white-space: nowrap;
}

.sort-btn:hover {
    color: #756fd6; /* Color del ícono al pasar el mouse */
}

.sort-btn {
    background-color: transparent; /* Fondo transparente */
    color: #76767a; /* Color del ícono */
    border: none; /* Sin borde */
    cursor: pointer; /* Mostrar puntero al pasar el mouse */
    font-size: 24px; /* Tamaño del ícono */
    transition: color 0.3s ease; /* Transición suave para el color */
    margin: 6px; /* Agrega margen alrededor del botón */
    padding: 8px; /* Opcional: añade espaciado interno para mayor área de clic */
}

body.dark .sort-btn {
    color: #cccccc;
}

.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Oculto inicialmente */
    flex-direction: column;
    gap: 10px; /* Espacio entre los botones */
}

.floating-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #695CFE; /* Color del fondo */
    color: white;
    font-size: 24px; /* Tamaño del icono */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.floating-btn:hover {
    transform: scale(1.1); /* Efecto de escala en hover */
}

/* Para añadir una animación al aparecer */
.floating-buttons.show {
    display: flex;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.floating-buttons.hide {
    animation: fadeOut 0.5s forwards; /* `forwards` mantiene el estado final */
    display: flex; /* Asegúrate de que esté visible mientras se anima */
}


