/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.home-header { /*encabezado*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e7e7e7;
    background-color: transparent;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
}


body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}


::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #2f2e31;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}
  
/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .logo-text .name,
.sidebar.close .logo-text .profession {
  display: none;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home-header .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

/* Card List Styles */
.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1600px;
    margin: 30px auto;
    padding: 20px;
    gap: 20px;
}

/* Card Item Styles */
.card-list .card-item {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.041);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    display: flex;
    flex-direction: column;
}

.card-list .card-item .card-title,
.card-list .card-item .card-name-container,
.card-list .card-item .card-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.preview-card-item .preview-card-title,
.preview-card-item .preview-card-name-container,
.preview-card-item .preview-card-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.card-list .card-item:hover {
    transform: scale(1.03);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 8px 100px #786efd48;
}

.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.card-list .card-item .card-title {
    color: #1d1d1d;
    font-size: 1.438rem;
    font-weight: 600;
    margin-top: 10px;
}

.card-list .card-item .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card-list .card-item .job-title,
.card-list .card-item .phone,
.card-list .card-item .date {
    display: inline-block;
    background: #ffa7a7;
    padding: 8px 15px;
    font-size: 11px;
    border-radius: 50px;
    font-weight: 600;
    color: #242526;
}

.card-list .card-item .phone {
    background-color: #c3d3fd;
    color: #2e2e2e;
}

.card-list .card-item .date {
    background-color: #d1d1d1;
    color: #2e2e2e;
}

.card-list .card-item .card-description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #707070;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.card-list .card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #616161;
    border-radius: 50%;
    margin-top: auto;
    transition: 0.2s ease;
}

.card-list .card-item:hover .arrow {
    background: #756fd6;
    color: #fff;
}

/* Dark Mode Styles */
body.dark .card-list .card-item {
    background: #242526;
    color: #fff;
}

body.dark .card-item .card-title {
    color: #a5a5a5;
}

body.dark .card-item .arrow {
    color: #fff;
}

body.dark .card-list .card-item:hover .arrow {
    background: #756fd6;
    color: #242526;
}



@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}

@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}

.home-header .add-btn {
    --main-focus: #756fd6;
    --font-color: #5a5a5a;
    --bg-color-sub: #756fd6;
    --bg-color: #e4e9f700;
    --main-color: #756fd6;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }

.add-btn, .button__icon, .button__text {
    transition: all 0.3s;
  }

  .add-btn .button__text {
    transform: translateX(33px);
    color: var(--font-color);
    font-weight: 600;
  }

  .add-btn .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 40px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E4E9F7;;
  }

  .add-btn .svg {
    width: 20px;
    fill: var(--main-color);
  }

  .add-btn:hover {
    background: var(--bg-color);
  }

  .add-btn:hover .button__text {
    color: transparent;
  }

  body.dark .home-header .add-btn .button__text {
    color: var(--text-color);
}

  .add-btn:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }

  .add-btn:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }

.add-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    padding: 20px;
    width: 80%;
    height: 80%;
    background-color: #E4E9F7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
}
  
.add-modal.visible {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.add-modal.hidden {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    visibility: hidden;
}


.preview-section .preview-card-item {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.041);
    list-style: none;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    width: 350px; /* Ajusta el ancho aquí */
    height: auto; /* Altura ajustada automáticamente */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preview-card-item .preview-card-description {
    margin-top: 10px;
    font-size: 13px;
    color: #707070;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.preview-card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.preview-card-item .preview-card-title {
    color: #1d1d1d;
    font-size: 1.438rem;
    font-weight: 600;
    margin-top: 10px;
}



.preview-card-item .preview-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}



.preview-card-item .preview-job-title,
.preview-card-item .preview-date,
.preview-card-item .preview-phone {
    display: inline-block;
    background: #F7DFF5;
    padding: 8px 15px;
    font-size: 11px;
    border-radius: 50px;
    font-weight: 600;
}
.preview-card-item .preview-phone {
    background-color: #c3d3fd;
    color: #2e2e2e;
}

.preview-card-item .preview-date {
    background-color: #d1d1d1;
    color: #2e2e2e;
}

.preview-card-item .preview-job-title {
    background-color: #ffa7a7;
    color: #2e2e2e;
}

.preview-card-item .preview-card-description {
    margin-top: 10px;
    font-size: 13px;
    color: #707070;
}

.preview-card-item .preview-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #616161;
    border-radius: 50%;
    margin-top: auto;
    transition: 0.2s ease;
}

.custum-file-upload input {
    display: none;
  }


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.651);
    z-index: 100;
  }
  
  .modal-backdrop.hidden {
    display: none;
  }
  
  .modal-backdrop.visible {
    display: block;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #ff5656;
}

.close-icon {
    color: #fff;
    font-size: 16px;
    position: relative;
    top: 1px; /* Ajusta la posición vertical del icono */
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.job-type-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.job-type-btn {
    margin: 3px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.job-type-btn.active {
    background-color: #ffa7a7;
    color: rgb(43, 43, 43)
}

.submit-btn {
    padding: 0.5rem 1rem;
    background-color: #7E73F5;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.form-row {
    display: flex;
    gap: 1rem;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group textarea {
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 5000px;
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-height: 90vh; /* Limita la altura máxima de la sección del formulario */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}

.form-group.upload-box {
    margin-top: 7px;
    width: 400px;
    height: 110px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  
  .form-group.upload-box:hover {
    border-color: #7E73F5;
  }
  
  .upload-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #707070;
  }
  
  .upload-icon-container i {
    font-size: 32px;
    margin-bottom: 8px;
  }
  
  .upload-icon-container span {
    font-size: 14px;
  }

  .add-modal .submit-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.preview-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(193, 208, 212)
}

@media (max-width: 768px) {
    .add-modal {
        width: 90%;
        height: 90%;
    }
}

.add-modal-content {
    display: flex;
}

.preview-section {
    flex: 1;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-card-item {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.041);
    list-style: none;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    width: 300px;
}

