/* ======================================================== BASE ================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #dce0ee;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.home-header {
    /*encabezado*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e7e7e7;
    background-color: transparent;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
}

/*BOTON DE REGRESAR*/
.text {
    margin-right: auto; /* Para empujar el botón hacia la derecha */
}

.back-button {
    display: flex;
    align-items: center;
}

.back-btn {
    display: flex;
    align-items: center;
    text-decoration: none; /* Sin subrayado */
    color: inherit;  /* Para heredar el color del texto */
    margin-left: 15px; /* Espacio entre el texto y el botón */
    color: var(--text-color);
}

.back-btn i {
    font-size: 2em; /* Tamaño del ícono */
}

/*BOTON DE REGRESAR*/

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}


::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #121212;
    --sidebar-color: #1e1f20;
    --primary-color: #3a3b3c;
    --primary-color-light: #2c2d30;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0; /* Mantén la barra al principio */
    left: 0; 
    height: 100vh; /* Altura total */
    width: 260px; /* Ancho de la barra lateral */
    padding: 10px 14px; /* Espaciado interno */
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100; 
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .logo-text .name,
.sidebar.close .logo-text .profession {
    display: none;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.separator {
    border: none; /* Eliminar el estilo por defecto */
    height: 1px; /* Alto de la línea */
    background-color: var(--text-color);
    margin: 10px 0; /* Margen alrededor de la línea */
}



.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 60%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home-header .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

/* ======================================================== BASE ================================================== */


.card {
    width: auto;
    margin: auto 50px;
    border-radius: 8px;
    background-color: white; /* Fondo de tarjeta claro por defecto */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


/* Estilo minimalista para la tabla */
#example {
    width: 100%;
    border-collapse: collapse;
    color: #333; /* Color de texto claro en modo claro */
}


#example thead {
    background-color: #695cfe; /* Color de encabezado */
}

#example th, #example td {
    padding: 12px 15px;
    text-align: left;
}

#example tbody tr {
    border-bottom: 1px solid #ddd;
}

body.dark #example tbody tr {
    border-bottom: 1px solid #141414;
}

#example tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Fondo claro para filas pares */
}


#example tbody tr:hover {
    background-color: #dbdbdb;
}


#example th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white; /* Color de texto claro en encabezados */
}

#example td {
    font-size: 0.9em;
}

/* Estilo para la paginación */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5em 1em;
    margin: 0.2em;
    cursor: pointer;
    border: 1px solid #ccc; /* Borde más claro */
    border-radius: 5px; /* Esquinas redondeadas */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #8f8f8f;
    border: none; 
    color: #ffffff !important; /* Color de borde al hover */
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #7a7a7a !important;
    border-radius: 4px;
}

body.dark .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #b8b8b8 !important;
    border-radius: 4px;
}

#example thead th {
    border-bottom: none; /* Elimina cualquier borde en los encabezados */
}

.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate {
    color: #666666; /* Color de texto */
    font-weight: 600;
    margin: 15px;
}

body.dark .dataTables_wrapper .dataTables_length, 
body.dark .dataTables_wrapper .dataTables_filter, 
body.dark .dataTables_wrapper .dataTables_info, 
body.dark .dataTables_wrapper .dataTables_processing, 
body.dark.dataTables_wrapper .dataTables_paginate {
    color: #aaaaaa; /* Color de texto */
    font-weight: 500;
    margin: 15px;
}


.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #adadad; /* Borde del input en modo claro */
    border-radius: 10px; /* Esquinas redondeadas */
    outline: none; /* Sin borde de foco predeterminado */
    font-size: 16px; /* Tamaño de fuente más grande */
    resize: none; /* Deshabilitar el redimensionamiento */
    margin-left: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important; /* Color activo */
    background: #695cfe;
}

body.dark .dataTables_wrapper 
body.dark .dataTables_length, 
body.dark .dataTables_wrapper .dataTables_filter, 
body.dark .dataTables_wrapper .dataTables_info, 
body.dark .dataTables_wrapper .dataTables_processing, 
body.dark .dataTables_wrapper .dataTables_paginate {
    color: #aaaaaa; /* Color de texto */
    font-weight: 500;
    margin: 15px;
}

/* Modo oscuro */
.dark-mode .card {
    background-color: #1c1c1c; /* Fondo oscuro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dark-mode #example {
    color: #ddd; /* Texto claro en modo oscuro */
}

.dark-mode #example thead {
    background-color: #4b47b3; /* Encabezado oscuro */
}

.dark-mode #example tbody tr{
    background-color: #333333; /* Filas pares oscuras */
    border: none;
    
}
.dark-mode #example tbody tr .sorting_1 {
    background-color: #333333; /* Hover oscuro */
    border: none;
}
 
.dark-mode #example tbody tr:nth-child(even) {
    background-color: #333333; /* Filas pares oscuras */
}

.dark-mode #example tbody tr:nth-child(even) .sorting_1 {
    background-color: #333333; /* Filas pares oscuras */
}

.dark-mode #example tbody tr:hover {
    background-color: #444; /* Hover oscuro */
}

.dark-mode #example tbody tr:hover .sorting_1 {
    background-color: #444; /* Hover oscuro */
}

#example tbody tr:hover .sorting_1 {
    background-color: #dbdbdb; /* Hover oscuro */
}


table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: none;
}

body.dark .dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid rgb(117, 117, 117)333; /* Borde oscuro */
}

.dark-mode .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: linear-gradient(45deg, #ffffff, #ffffff);   
    color: #000000 !important; /* Color de borde al hover */
}

.dark-mode .dataTables_wrapper .dataTables_filter input {
    border: 1px solid #444; /* Borde del input oscuro */
}

body.dark .dataTables_wrapper .dataTables_length select {
    color: #ccc; /* Texto en modo oscuro */
}

.dark-mode .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dark-mode .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #000000 !important; /* Texto activo en modo oscuro */
    background: linear-gradient(45deg, #ffffff, #ffffff); 
}

.dark-mode .dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: #2a2a2a;
    padding: 4px;
}