/* ======================================================== BASE ================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #dce0ee;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.home-header {
    /*encabezado*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e7e7e7;
    background-color: transparent;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 0;
}

/*BOTON DE REGRESAR*/
.text {
    margin-right: auto; /* Para empujar el botón hacia la derecha */
}

.back-button {
    display: flex;
    align-items: center;
}

.back-btn {
    display: flex;
    align-items: center;
    text-decoration: none; /* Sin subrayado */
    color: inherit;  /* Para heredar el color del texto */
    margin-left: 15px; /* Espacio entre el texto y el botón */
    color: var(--text-color);
}

.back-btn i {
    font-size: 2em; /* Tamaño del ícono */
}

/*BOTON DE REGRESAR*/

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}


::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #121212;
    --sidebar-color: #1e1f20;
    --primary-color: #3a3b3c;
    --primary-color-light: #2c2d30;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0; /* Mantén la barra al principio */
    left: 0; 
    height: 100vh; /* Altura total */
    width: 260px; /* Ancho de la barra lateral */
    padding: 10px 14px; /* Espaciado interno */
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100; 
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .logo-text .name,
.sidebar.close .logo-text .profession {
    display: none;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.separator {
    border: none; /* Eliminar el estilo por defecto */
    height: 1px; /* Alto de la línea */
    background-color: var(--text-color);
    margin: 10px 0; /* Margen alrededor de la línea */
}



.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 60%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home-header .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

/* =============================================== BASE ================================================== */

.form-container {
    padding: 20px;
}

.settings-options {
    display: flex;
    flex-direction: column; /* Ordenar verticalmente */
    gap: 10px; /* Espacio entre las opciones */
}

.setting-option {
    background-color: var(--sidebar-color); /* Color de fondo igual al de la barra lateral */
    border-radius: 6px;
    padding: 15px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center; /* Centrar el contenido de los botones */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.014);
}

.setting-option a {
    text-decoration: none; /* Sin subrayado */
    color: var(--text-color); /* Color del texto */
    display: flex;
    align-items: center; /* Centrar verticalmente el texto respecto al icono */
    width: 100%; /* Hacer que el enlace ocupe todo el ancho del contenedor */
    gap: 15px; /* Espacio entre el icono y el texto */
}

.setting-option:hover {
    background-color: var(--primary-color-light); /* Cambiar color de fondo en hover */
}

.setting-option i {
    font-size: 20px; /* Tamaño del icono */
    color: var(--primary-color); /* Color del icono */
}

/* Ajustes de estilos para el modo oscuro */
body.dark .setting-option {
    background-color: #1e1f20; /* Color de fondo en modo oscuro */
}

body.dark .setting-option:hover {
    background-color: #3a3b3c; /* Color de fondo en hover en modo oscuro */
}

body.dark .setting-option i {
    color: #ccc; /* Color del icono en modo oscuro */
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 4 columnas */
    gap: 1px;
    padding: 10px;
    margin: 10px 50px;
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

/* Estilos de los ítems */
.grid-item {
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.068);
}

.grid-item:hover {
    background-color: #e0e0e0;
}


/* Estilos para la tabla en modo oscuro */
body.dark .grid-item {
    background-color: #3a3b3c; /* Color de fondo en modo oscuro */
    color: #ccc; /* Color del texto en modo oscuro */
}

body.dark .grid-item:hover {
    background-color: #555555; /* Color de fondo al pasar el mouse en modo oscuro */
}


.submit-button {
    margin-top: 10px; /* Espacio entre el textarea y el botón */
    padding: 12px 24px; /* Tamaño del botón */
    background-color: #695cfe; /* Color de fondo azul */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background 0.3s; /* Transición suave para efectos */
    font-size: 16px; /* Tamaño de fuente */
}
.submit-button:hover {
    background-color: #5b51c0; /* Color al pasar el mouse */
}

.button-container {
    display: flex;
    justify-content: center; /* Centra los botones */
    margin-top: 10px; /* Margen superior */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: stretch; /* Asegura que todos los elementos se estiren al ancho completo */
    }

    .select-container {
        margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
        margin-bottom: 10px; /* Agrega un margen inferior para separación */
    }
}





.container {
    display: flex;
    flex-wrap: wrap; /* Esto permite que los elementos se muevan a la siguiente línea si no hay mucho espacio */
    justify-content: center; /* Para alinear el contenido al inicio */
    align-items: center; /* Alinear verticalmente */
    margin: 20px; /* Margen para un poco de espacio alrededor */
}



.select-container {
    min-width:150px; /* Ajusta el mínimo ancho para que sea más responsivo */
    margin-right: 10px; /* Espacio entre los botones */
    text-align: center;
}

/* Estilos para el botón */
.select {  
    padding: 11px 15px; /* Tamaño del botón */
    background-color: #695cfe; /* Fondo del botón */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    font-size: 1rem; /* Tamaño de fuente coherente */
    border-radius: 5px; /* Esquinas redondeadas */
}

/* Estilo al pasar el ratón */
.select:hover {
    background-color: #5b51c0; /* Color al pasar el mouse */
    cursor: pointer;
}

/* Estilos para el botón */
.select-date {  
    padding: 10px 15px; /* Tamaño del botón */
    background-color: #695cfe; /* Fondo del botón */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 1rem; /* Tamaño de fuente coherente */
}

/* Estilo al pasar el ratón */
.select-date:hover {
    background-color: #5b51c0; /* Color al pasar el mouse */
    cursor: pointer;
}

.button {
    padding: 11px 24px; /* Tamaño del botón */
    background-color: #695cfe; /* Fondo del botón */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background 0.3s; /* Transición suave para efectos */
    font-size: 16px; /* Tamaño de fuente */
}


/* Estilos específicos para el selector de archivo */
#file-format {
    padding: 10px 5px;
    margin-left: 10px; /* Espacio a la izquierda del selector */
}

/* Estilo al pasar el ratón */
.button:hover {
    background-color: #5b51c0; /* Color al pasar el mouse */
    cursor: pointer;
}

.notification-container {
    position: relative;
    display: inline-block;
}


.notification-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    font-size: 24px; /* Aumentar el tamaño del icono */
    transition: color 0.3s; /* Transición suave para el color */
    margin-top: 3px;
}

.notification-button:hover {
    color: #756fd6;
}

.sort-dropdown, .notification-container, .add-btn {
    display: inline-block;
    margin-left: 15px; /* Espacio entre los botones */
}


body.dark-mode {
    background-color: var(--bg-color);
    color: var(--text-color);
}


.notification-dropdown {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 300px;
    background-color: #eceef0;
    border-radius: 8px;
    box-shadow: 0 10px 200px rgba(0, 0, 0, 0.315);
    padding: 8px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

body.dark .notification-dropdown{
    background-color: #1d1e1f;
}

.notification-dropdown.show {
    visibility: visible;
    opacity: 1;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    background-color: #dbdfed;
    color: #202020;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

#notificationDropdown {
    max-height: 300px; /* Ajusta según tu preferencia */
    overflow-y: auto; /* Permite el scroll vertical */
}



body.dark .notification-item {
    background-color: #121212;
    color: whitesmoke;
}

.notification-item .icon {
    font-size: 20px;
    margin-right: 10px;
    color: #695CFE;
}

.notification-item .message {
    flex-grow: 1;
    font-size: 14px;
}

.notification-item .timestamp {
    font-size: 12px;
    color: #9c9c9c;
    margin-left: 10px;
}

.notification-indicator {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: #695CFE;
    border-radius: 50%;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.notification-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    font-size: 24px;
    transition: color 0.3s;
}

.notification-button:hover {
    color: #756fd6;
}

