body {
    margin: 0;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    height: 100vh; /* Altura del viewport completo */
}

.home-header {
    /*encabezado*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e7e7e7;
    background-color: transparent;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
}

/*BOTON DE REGRESAR*/
.text {
    margin-right: auto; /* Para empujar el botón hacia la derecha */
}

.back-button {
    display: flex;
    align-items: center;
}

.back-btn {
    display: flex;
    align-items: center;
    text-decoration: none; /* Sin subrayado */
    color: inherit;  /* Para heredar el color del texto */
    margin-left: 15px; /* Espacio entre el texto y el botón */
    color: var(--text-color);
}

.back-btn i {
    font-size: 2em; /* Tamaño del ícono */
}

/*BOTON DE REGRESAR*/

/* Estilo general de la tarjeta */
.card {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 70px rgba(0, 0, 0, 0.055); /* Sombra */
    padding: 25px; /* Espaciado interno reducido */
    margin: auto; /* Margen superior e inferior */
    max-width: 1000px; /* Ancho máximo para centrar */
    text-align: left; /* Alinear texto a la izquierda */
}

.client-image {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Para que sea circular */
    margin-right: 5px; /* Espacio entre el nombre del cliente y la imagen */
    vertical-align: middle; /* Alinear verticalmente con el texto */
}

.destination-selects {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

.status-button {
    flex: 1; /* Cada botón ocupará el mismo espacio */
    padding: 12px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 25px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    font-size: 16px; /* Tamaño de fuente */
    transition: background 0.3s, color 0.3s; /* Transiciones suaves */
}

.status-button.approved {
    background-color: #858585; /* Color de fondo azul */
    color: white; /* Texto blanco */
}

.status-button.rejected {
    background-color: #858585; /* Color rojo para rechazo */
    color: white; /* Texto blanco */
}

/* Cambiar apariencia cuando el botón está activo */
.status-button.active {
    opacity: 0.8; /* Efecto de hover */
}

/* Cambiar color al estar activo */
.status-button.approved.active {
    background-color: #28b657; /* Color más oscuro para "Aprobado" */
}

.status-button.rejected.active {
    background-color: #ff4860; /* Color más oscuro para "Rechazo" */
}



.types {
    display: inline-block;
    padding: 8px 15px;
    font-size: 11px;
    border-radius: 50px;
    font-weight: 600;
    color: #242526;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: default;
    /* Añade un margen derecho para separar los elementos */
}

.full-width {
    width: 100%;
    background-color: #f8f8f8; /* Ajusta el fondo gris que deseas */
}

.full-width-box {
    background-color: #f0f0f0; /* Fondo gris claro para el contenido */
    padding: 100px; /* Espaciado interno adecuado */
    border-radius: 8px; /* Esquinas redondeadas */
}



.job-types-containers {
    /* Muestra los trabajos en línea */
    white-space: nowrap;
    /* Previene que los elementos se rompan a la siguiente línea */
    position: relative; /* Cambiado a relative para un posicionamiento correcto */
    margin-bottom: 20px;
    /* Ajusta el margen superior aquí también si es necesario */
    width: 100%; /* Asigna el ancho total de su contenedor padre */
    overflow-x: auto; /* Agrega desplazamiento horizontal si es necesario */
    white-space: normal; /* Permite que los elementos se rompan */
    display: block; /* Puede cambiar a flex o grid según el diseño que estés utilizando */
}

/* Título de la tarjeta */
.card h2 {
    font-size: 1.6em; /* Tamaño del título más pequeño */
    color: #333; /* Color del texto */
}

body.dark .card h2 {
    color: #d4d4d4;
}

/* Contenedor de información */
.info-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}


/* Estilo de cada elemento de información */
.info-item {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 12px;
    transition: background-color 0.3s;
}

body.dark .info-item {
    background-color: #232425;
    border-radius: 8px;
    padding: 12px;
    transition: background-color 0.3s;
}

.history-item {
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 12px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

body.dark .history-item {
    background-color: #1c1d1e;
}


.info-item:hover {
    background-color: #e0e0e0;
}

body.dark .info-item:hover {
    background-color: #1c1d1e;
}

.info-title {
    font-weight: 600;
    color: #555;
}

body.dark .info-title {
    color: #8f8f8f;
}


/* Ajuste de modo oscuro (ejemplo) */
body.dark .card {
    background-color: #232425; /* Fondo oscuro */
    color: #f0f0f0; /* Texto claro */
}

.comment-section {
    margin-top: 10px; /* Espacio encima del área de comentarios */
    padding: 5px; /* Espaciado interno para el área de comentarios */
    background-color: #f9f9f9; /* Color de fondo */
    border-radius: 8px; /* Esquinas redondeadas */
    width: 100%; /* Ancho completo */
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
}

body.dark .comment-section{
    background-color: #232425;
}

.comment-input {
    width: 100%; /* Hacer el input del ancho completo */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #adadad; /* Borde azul */
    border-radius: 10px; /* Esquinas redondeadas */
    outline: none; /* Sin borde de foco predeterminado */
    font-size: 16px; /* Tamaño de fuente más grande */
    resize: none; /* Deshabilitar el redimensionamiento */
    margin-bottom: 10px; /* Espacio debajo del textarea */
}

body.dark .comment-input{
    color: white;
    background-color: #232425;
    border: 1px solid #4e4e4e; /* Borde azul */
}

.submit-button {
    position: relative; /* Posicionamiento para el botón de enviar */
    padding: 12px 24px; /* Tamaño del botón */
    background-color: #5f5cfe; /* Color de fondo azul */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 25px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background 0.3s; /* Transición suave para efectos */
    font-size: 16px; /* Tamaño de fuente */
    display: flex; /* Flex para centrar el icono y texto */
    align-items: center; /* Centrar verticalmente */
}
.submit-button:hover {
    background-color: #5c67fe; /* Color al pasar el mouse */
}

.button-container {
    display: flex; /* Para alinear los botones en línea */
    justify-content: space-between; /* Alinear los botones hacia la derecha */
    margin-top: 10px; /* Espacio entre el textarea y los botones */
}

.additional-button {
    padding: 12px 24px; /* Tamaño del botón */
    background: #695cfe;
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 25px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background 0.3s; /* Transición suave para efectos */
    font-size: 16px; /* Tamaño de fuente */

}

.additional-button:hover {
    background: #5b51c0;
}


.total-info .info-box {
    display: flex;
    align-items: center;
}

.total-info .edit-total {
    margin-left: 5px;
    cursor: pointer;
    color: #695cfe;
    transition: color 0.3s;
}

.abonado-info .edit-abonado {
    margin-left: 5px;
    cursor: pointer;
    color: #695cfe;
    transition: color 0.3s;
}

.total-info .edit-total:hover {
    color: #5b51c0;
}

.confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7); /* Aumenta la opacidad y asegura un fondo más oscuro */
    z-index: 1000; /* Asegúrate de que el modal esté por encima del contenido */
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.modal-content,
.h3 {
    font-size: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px; /* Esquinas más redondeadas para un diseño más suave */
    max-width: 500px; /* Ampliar el ancho máximo para mayor comodidad */
    width: 90%; /* Para que sea responsive */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Agregar sombra para profundidad */
}


.confirm-btn {
    background-color: #695cfe; /* Color al pasar el mouse */
    color: white;
    border-radius: 8px; /* Esquinas redondeadas */
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
}

.confirm-btn:hover {
    background-color: #5b51c0; /* Color de fondo azul */; /* Color verde para el botón confirmar */
}

.cancel-btn {
    background-color: #dc3545; /* Color rojo para el botón cancelar */
    color: white;
    border-radius: 8px; /* Esquinas redondeadas */
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
}

.cancel-btn:hover {
    background-color: #c82333; /* Color más oscuro al pasar el mouse */
}



.modal-input-container,
.modal-textarea-container {
    margin-bottom: 15px;
}

.modal-input-container input,
.modal-textarea-container textarea {
    width: 100%; /* Hacer el input del ancho completo */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #adadad; /* Borde azul */
    border-radius: 10px; /* Esquinas redondeadas */
    outline: none; /* Sin borde de foco predeterminado */
    font-size: 16px; /* Tamaño de fuente más grande */
    resize: none; /* Deshabilitar el redimensionamiento */
}

body.dark .modal-content {
    background-color: #232425; /* Fondo oscuro para el modal */
    color: #e0e0e0; /* Color del texto claro para el modal */
}

body.dark .modal-input-container input,
body.dark .modal-textarea-container textarea {
    color: white;
    background-color: #232425;
    border: 1px solid #4e4e4e; /* Borde azul */
}

body.dark .modal-input-container input::placeholder,
body.dark .modal-textarea-container textarea::placeholder {
    color: #a6a6a6; /* Color del texto de placeholder en modo oscuro */
}

.hidden {
    display: none;
}

.card-header {
    display: flex; /* Usar flexbox para alinear los hijos en una fila */
    justify-content: space-between; /* Espacio entre los elementos para que estén en extremos opuestos */
    align-items: center; /* Centrar verticalmente los elementos */
    width: 100%; /* Asegura que el encabezado ocupe todo el ancho del contenedor */
    margin-bottom: 10px;
}

.fase {
    padding: 5px 20px; /* Espaciado alrededor del texto para que no se vea apretado */
    border-radius: 15px; /* Esquinas redondeadas para un mejor estilo */
    color: #242424; /* Color del texto */
    font-weight: 600; /* Peso de la fuente si quieres que resalte más */
    font-size: 15px;
}

.diseno {
    background-color: #ecd4ae; /* Azul más vibrante */
}

.aprobacion {
    background-color: #c6c39a; /* Amarillo más intenso */
}

.elaboracion {
    background-color: #aac69a; /* Naranja más oscuro */
}

.entrega {
    background-color: #9ac6b4; /* Verde fresco */
}
