<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes - CopyNato</title>
    <link rel="icon" type="image/x-icon" href="../static/img/icon.ico">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/clients.css">
    <link rel="stylesheet" href="../static/css/scrollbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../static/img/icon.ico" alt="iconcopy">
                </span>
                <div class="text logo-text">
                    <span class="name">{{user[0]}}</span>
                    <span class="profession">{{user[1]}}</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Buscar..." id="searchInput">
                </li>
                <ul class="menu-links" id="home">
                    <li class="nav-link">
                        <a href="{{ url_for('home') }}">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-link" id="client">
                        <a href="{{ url_for('clients') }}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Clientes </span>
                        </a>
                    </li>
                </ul>
                <!-- Agrupación de Diseño, Aprobación, Elaboración y Entrega -->
                <hr class="separator"> <!-- Este div agrega espacio y parece separado -->
                <ul class="menu-links">
                    <li class="nav-link" id="diseño">
                        <a href="{{ url_for('design') }}">
                            <i class='bx bx-image-alt icon'></i>
                            <span class="text nav-text">Diseño</span>
                        </a>
                    </li>
                    <li class="nav-link" id="aprobacion">
                        <a href="{{ url_for('approval') }}">
                            <i class='bx bx-check-circle icon'></i>
                            <span class="text nav-text">Aprobación</span>
                        </a>
                    </li>
                    <li class="nav-link" id="elaboracion">
                        <a href="{{ url_for('crafting') }}">
                            <i class='bx bx-edit icon'></i>
                            <span class="text nav-text">Elaboración</span>
                        </a>
                    </li>
                    <li class="nav-link" id="entrega">
                        <a href="{{ url_for('ending') }}">
                            <i class='bx bx-send icon'></i>
                            <span class="text nav-text">Entrega</span>
                        </a>
                    </li>
                </ul>         
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="{{ url_for('settings') }}">
                        <i class='bx bx-cog icon'></i>
                        <span class="text nav-text">Ajustes</span>
                    </a>
                <li class="">
                    <a href="{{ url_for('logout') }}">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Salir</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Modo oscuro</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="home-header">
            <div class="text">Clientes</div>
            
            <div class="sort-dropdown">
                <button class="sort-btn" type="button" onclick="toggleDropdown()">
                    <i class="fa-solid fa-list"></i>
                </button>
                <div class="sort-options hidden" id="sortOptions">
                    <div class="sort-option" onclick="sortBy('a-z')">De A-Z</div>
                    <div class="sort-option" onclick="sortBy('z-a')">De Z-A</div>
                </div>
            </div>
            
            <div class="notification-container">
                <div class="notification-indicator" id="notificationIndicator"></div> <!-- Indicador de notificación -->
                <button class="notification-button" id="notificationButton">
                    <i class="bx bxs-bell"></i> <!-- Icono de notificaciones -->
                </button>
                <div class="notification-dropdown" id="notificationDropdown"></div>
            </div>
            
        </div>

<div class="modal-backdrop hidden"></div>
        <div class="card-list-client">
            {% for item in cliente %}
            <a href="{{ url_for('client', client=item[0] )}}" style="text-decoration: none;" class="client-link">
                <div class="card-client">
                    {% if os.path.exists('uploads/' + item[0] + '.png') %}
                        <img src="../uploads/{{item[0]}}.png" alt="User Image">
                    {% else %}
                        <img src="../static/img/user-default.png" alt="User Image">
                    {% endif %}
                    <p class="default-client-name">{{item[0]}}</p>
                    <p class="client-company">{{item[1]}}</p>
                </div>
            </a>
            {% endfor %}
    </section>


    <script src="../static/js/sidebar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="../static/js/send-notifications.js"></script>
   
    <script>
        // BOTON ORDENAR
function toggleDropdown() {
    const options = document.getElementById('sortOptions');
    options.classList.toggle('hidden');
}

function sortBy(criteria) {
    const cardList = document.querySelector('.card-list-client');
    const cards = Array.from(cardList.children);

    if (criteria === 'a-z') {
        cards.sort((a, b) => {
            const nameA = a.querySelector('.default-client-name').textContent.toUpperCase();
            const nameB = b.querySelector('.default-client-name').textContent.toUpperCase();
            return nameA.localeCompare(nameB); // Orden alfabético ascendente
        });
    } else if (criteria === 'z-a') {
        cards.sort((a, b) => {
            const nameA = a.querySelector('.default-client-name').textContent.toUpperCase();
            const nameB = b.querySelector('.default-client-name').textContent.toUpperCase();
            return nameB.localeCompare(nameA); // Orden alfabético descendente
        });
    }

    // Limpia y vuelve a agregar las tarjetas en el nuevo orden
    cardList.innerHTML = ''; // Borra los elementos existentes
    cards.forEach(card => cardList.appendChild(card)); // Añade las tarjetas reordenadas
    toggleDropdown(); // Cierra el menú desplegable después de hacer la selección
}


document.addEventListener('DOMContentLoaded', () => {
    const searchInput = document.getElementById('searchInput');
    const cardList = document.querySelector('.card-list-client');
    const cardItems = cardList.querySelectorAll('.client-link');
    const sidebar = document.querySelector('.sidebar');

    // Control de búsqueda
    if (searchInput) {
        searchInput.addEventListener("input", () => {
            const searchTerm = searchInput.value.toLowerCase();
            cardItems.forEach(cardItem => {
                const cardContent = cardItem.textContent.toLowerCase();
                if (cardContent.includes(searchTerm)) {
                    cardItem.style.display = "block";
                } else {
                    cardItem.style.display = "none";
                }
            });
        });
    } else {
        console.warn("El campo de búsqueda no se encontró.");
    }

    // Abrir el modal
    document.getElementById('openModal').addEventListener('click', function () {
        document.getElementById('addModal').classList.remove('hidden');
        document.querySelector('.modal-backdrop').classList.remove('hidden');
    });

    // Cerrar el modal
    document.getElementById('closeModal').addEventListener('click', function () {
        document.getElementById('addModal').classList.add('hidden');
        document.querySelector('.modal-backdrop').classList.add('hidden');
    });

    // Cerrar el menú al hacer clic fuera de él, pero no si se hace clic en las tarjetas
    document.addEventListener('click', function (event) {
        if (!sidebar.contains(event.target) && !cardList.contains(event.target)) {
            sidebar.classList.add('close'); // Cierra el menú
        }
    });
});
      </script>
  </body>

</html>