<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link rel="stylesheet" href="../static/css/details.css"> <!-- Crea este archivo CSS si quieres estilizar -->
</head>
<body>
    <div class="details-container">
        <h1 id="detail-title"></h1>
        <div class="detail-info">
            <img id="detail-image" src="../static/img/editor.jpg" alt="Imagen Detalle">
            <p><strong>Nombre:</strong> <span id="detail-name"></span></p>
            <p><strong>Fecha:</strong> <span id="detail-date"></span></p>
            <p><strong>Teléfono:</strong> <span id="detail-phone"></span></p>
            <p><strong>Descripción:</strong> <span id="detail-description"></span></p>
        </div>
        <button onclick="window.close()">Cerrar</button>
    </div>
    <script>
        // Aquí se obtienen los datos de la URL
        const urlParams = new URLSearchParams(window.location.search);
        document.getElementById('detail-title').innerText = urlParams.get('title');
        document.getElementById('detail-name').innerText = urlParams.get('name');
        document.getElementById('detail-date').innerText = urlParams.get('date');
        document.getElementById('detail-phone').innerText = urlParams.get('phone');
        document.getElementById('detail-description').innerText = urlParams.get('description');
    </script>
</body>
</html>

