<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - CopyNato</title>
    <link rel="icon" type="image/x-icon" href="../static/img/icon.ico">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/scrollbar.css">
    <link rel="stylesheet" href="../static/css/flash.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../static/img/icon.ico" alt="iconcopy">
                </span>
                <div class="text logo-text">
                    <span class="name">{{user[0]}}</span>
                    <span class="profession" id="role">{{user[1]}}</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Buscar..." id="searchInput">
                </li>
                <ul class="menu-links" id="home">
                    <li class="nav-link">
                        <a href="{{ url_for('home') }}">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-link" id="client">
                        <a href="{{ url_for('clients') }}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Clientes</span>
                        </a>
                    </li>
                </ul>
                <hr class="separator">
                <ul class="menu-links">
                    <li class="nav-link" id="diseño">
                        <a href="{{ url_for('design') }}">
                            <i class='bx bx-image-alt icon'></i>
                            <span class="text nav-text">Diseño</span>
                        </a>
                    </li>
                    <li class="nav-link" id="aprobacion">
                        <a href="{{ url_for('approval') }}">
                            <i class='bx bx-check-circle icon'></i>
                            <span class="text nav-text">Aprobación</span>
                        </a>
                    </li>
                    <li class="nav-link" id="elaboracion">
                        <a href="{{ url_for('crafting') }}">
                            <i class='bx bx-edit icon'></i>
                            <span class="text nav-text">Elaboración</span>
                        </a>
                    </li>
                    <li class="nav-link" id="entrega">
                        <a href="{{ url_for('ending') }}">
                            <i class='bx bx-send icon'></i>
                            <span class="text nav-text">Entrega</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="" id="setting">
                    <a href="{{ url_for('settings') }}">
                        <i class='bx bx-cog icon'></i>
                        <span class="text nav-text">Ajustes</span>
                    </a>
                </li>
                <li class="">
                    <a href="{{ url_for('logout') }}">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Salir</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Modo oscuro</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="home-header">
            
            <div class="text">Inicio 
                
                <div class="notification-container">
                    <div class="notification-indicator" id="notificationIndicator"></div> <!-- Indicador de notificación -->
                    <button class="notification-button" id="notificationButton">
                        <i class="bx bxs-bell"></i> <!-- Icono de notificaciones -->
                    </button>
                    <div class="notification-dropdown" id="notificationDropdown"></div>
                </div>
                
            
            </div>
            
            <div class="sort-dropdown">
                <button class="sort-btn" type="button" onclick="toggleDropdown()">
                    <i class="fa-solid fa-list"></i>
                </button>
                <div class="sort-options hidden" id="sortOptions">
                    <div class="sort-option" onclick="sortBy('date')">Fecha</div>
                    <div class="sort-option" onclick="sortBy('a-z')">De A-Z</div>
                    <div class="sort-option" onclick="sortBy('z-a')">De Z-A</div>
                </div>
            </div>
            <button class="add-btn" type="button">
                <span class="button__text">Añadir</span>
                <span class="button__icon">
                    <svg class="svg" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" x2="12" y1="5" y2="19"></line>
                        <line x1="5" x2="19" y1="12" y2="12"></line>
                    </svg>
                </span>
            </button>
        </div>

        <!-- Botones flotantes -->
        <div class="floating-buttons">
            <button class="floating-btn" title="Añadir">
                <i class="fas fa-plus"></i>
            </button>
        </div>


        <div class="add-modal hidden">
            <div class="add-modal-content">
                <div class="form-section">
                    <div class="close-button">
                        <div class="close-icon">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <form class="add-form" action="{{ url_for('form') }}" method="post">
                        <div class="form-group">
                            <label for="title">Título:</label>
                            <input type="text" id="title" name="title" required>
                        </div>
                        <!-- Selector para el usuario existente o agregar nuevo -->
                        <div class="form-group">
                            <label for="user-option">Tipo de cliente:</label>
                            <select id="user-option" name="user-option" onchange="handleUserOptionChange()">
                                <option value="">Seleccione una opción</option>
                                <option value="existing">Cliente existente</option>
                                <option value="new">Nuevo cliente</option>
                            </select>
                        </div>

                        <!-- Selector para el usuario existente -->
                        <div class="form-group" id="existing-user-select" style="display: none;">
                            <label for="existing-users">Seleccionar cliente existente:</label>
                            <select id="existing-users" name="existing-users" onchange="autocompleteUser()">
                                <option value="">Seleccione un cliente</option>
                                {% for names, numbers in clients %}
                                {% set split_numbers = numbers[0].split(' ') %}
                                <option value="1" data-name="{{ names[0] }}" data-surname="{{ names[1] }}"
                                    data-phone="{{split_numbers[1]}}" country-phone="{{split_numbers[0]}}">{{ names[0] }}
                                    {{ names[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-row" id="userFields">
                            <div class="form-group">
                                <label for="name">Nombre:</label>
                                <input type="text" id="name" name="names" required disabled>
                            </div>
                            <div class="form-group">
                                <label for="surname">Apellido:</label>
                                <input type="text" id="surname" name="surname" required disabled>
                            </div>
                        </div>
                        <div class="form-row" id="telField">
                            <div class="form-group">
                                <label for="phone">Teléfono:</label>
                                <div class="phone-input-container"> <!-- Añadido nuevo contenedor -->
                                    <select id="country-code" name="country-code">
                                        <option value="+58">+58</option>
                                        <option value="+57">+57</option>
                                    </select>
                                    <input type="tel" id="phone" name="phone" required maxlength="10">
                                </div>                            
                            </div>
                            <div class="form-group">
                                <label for="date">Fecha de registro:</label>
                                <input type="date" id="date" name="date" value="dd/mm/aaaa" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tipo de trabajo:</label>
                            <div class="job-type-buttons">
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="1" id="Pendón"
                                        onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Pendon
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="2" id="Vinilo"
                                        onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Vinilo
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="3" id="Estructura"
                                        onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Estructura
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="4"
                                        id="Valla Publicitaria" onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Valla Publicitaria
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="5"
                                        id="Presentacion" onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Presentacion
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="6" id="Volantes"
                                        onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Volantes
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="7" id="Banderin"
                                        onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Banderin
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="8" id="Camisa"
                                        onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Camisa
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="9" id="NeoFlex"
                                        onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    NeoFlex
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="10" id="Corte V"
                                        onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Corte V
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="11" id="Acrilico"
                                        onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Acrilico
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Personal a Cargo:</label>
                            <div class="destination-selects">
                                <select id="role1" name="designer" required>
                                    <option value="">Diseñador</option>
                                    {% for desingers in design %}
                                    <option value="{{desingers[0]}}">{{desingers[0]}}</option>
                                    {% endfor %}
                                </select>
                                <select id="role2" name="crafter" required>
                                    <option value="crafter">Impresion/Corte</option>
                                    {% for crafters in craft %}
                                    <option value="{{crafters[0]}}">{{crafters[0]}}</option>
                                    {% endfor %}
                                </select>
                                <select id="role3" name="installer" required>
                                    <option value="Installer">Instalador</option>
                                    {% for installers in install %}
                                    <option value="{{installers[0]}}">{{installers[0]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group">
                                <label for="total-cost">Costo total:</label>
                                <input type="number" id="total-cost" name="total-cost" required
                                     step="0.01">
                            </div>
                            <div class="form-group">
                                <label for="down-payment">Abono:</label>
                                <div style="display: flex; align-items: center;">
                                    <input type="number" id="down-payment" name="down-payment"
                                         step="0.01">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="down-payment">Tipo de Moneda:</label>
                                <div>
                                    <select id="currency" name="currency" onchange="formatearMoneda()" step="0.01">
                                        <option value="3">Bs.S</option>
                                        <option value="2">COP</option>
                                        <option value="1">USD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="remaining">Restante:</label>
                                <input type="number" id="remaining" name="remaining" required readonly>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="description">Descripcion:</label>
                                <textarea id="description" name="description" rows="4" required
                                    style="resize: none;"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="upload-icon-container" onclick="document.getElementById('file').click();">
                                </div>
                                <div class="form-group upload-box">
                                    <div class="upload-icon-container">
                                        <i class="fas fa-upload"></i>
                                        <span>Subir archivo</span>
                                        <input type="file" id="file" onchange="previewImage(this)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <button type="submit" class="submit-btn">Guardar</button>
                                <button type="reset" class="reset-btn">Restablecer</button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="preview-section">
                    <div class="preview-card-item">
                        <img id="preview-image" src="default-image.jpg" alt="Imagen de previsualización"
                            class="card-image">
                        <p class="card-title preview-card-title"></p> <!-- Título -->
                        <div class="preview-card-name card-name-container">
                            <span class="card-name"></span> <span class="card-surname"></span>
                        </div>
                        <p class="preview-card-info">
                            <span class="job-title preview-job-title"> Fase </span> <!-- Cargo -->
                            <span class="date preview-date"></span> <!-- Fecha -->
                            <span class="phone preview-phone"><i class="fas fa-phone"></i> </span> <!-- Teléfono -->
                        </p>
                        <div class="job-types-wrapper">
                            <div class="job-types-container preview-job-types-container">
                                <!-- Los tipos de trabajo seleccionados se mostrarán aquí -->
                            </div>
                        </div>
                        <p class="card-description preview-card-description"></p> <!-- Descripción -->
                    </div>
                </div>
            </div>
        </div>
        <div class="counter-container">
            <div class="counter-box box-a">
                <h2>Total de Trabajos</h2>
                <span id="totalJobs">0</span>
            </div>
            <div class="counter-box box-b">
                <h2>Contador 2</h2>
                <span>0</span>
            </div>
            <div class="counter-box box-c">
                <h2>Contador 3</h2>
                <span>0</span>
            </div>
            <div class="counter-box box-d">
                <h2>Contador 4</h2>
                <span>0</span>
            </div>
        </div>
        
        
        <!-- Mensajes Flash -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        
        <div class="modal-backdrop hidden"></div>
        <div class="card-list" id="cardList">
            {% for item, item2 in filas %}
            <div class="card-item" data-job-type="designer" style="cursor: pointer;" data-image="{{ loop.index }}">
                <a href="{{ url_for('work', user=item[6] )}}" style="text-decoration: none;color: black">
                    <img src="../static/img/Editor.png" alt="Card Image" class="card-image">
                    <p class="card-title">{{ item[0] }}</p>
                    <p class="card-name-container">
                        <span class="card-name">{{ item[3] }}</span>
                    </p>
                    <p class="card-info">
                        {% if item[7] == 1 %}
                        <span class="fase diseno">
                            <i class="fa-solid fa-sliders"></i> Diseño
                        </span>
                    {% elif item[7] == 2 %}
                        <span class="fase aprobacion">
                            <i class="fa-regular fa-circle-check"></i> Aprobación
                        </span>
                    {% elif item[7] == 3 %}
                        <span class="fase elaboracion">
                            <i class="fa-solid fa-crop-simple"></i> Elaboración
                        </span>
                    {% elif item[7] == 4 %}
                        <span class="fase entrega">
                            <i class="fa-regular fa-paper-plane"></i> Entrega
                        </span>
                    {% else %}
                        Valor no reconocido
                    {% endif %}
                    
                    
                        {% set date = item[1].split('-') %}
                        <span class="date">{{date[2]}}/{{date[1]}}/{{date[0]}}</span>
                        <span class="phone"><i class="fas fa-phone"></i>{{ item[4] }}</span>
                    </p>
                    <div class="job-types-wrapper">
                        <div class="job-types-container" id="jobTypesContainer">
                            {% for t in item2 %}
                            <span class="types job-type-{{ t | lower | replace(' ', '-') }}">{{ t }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    </p>
                    <div class="actions">
                        <div class="arrow">
                            <i class="fas fa-arrow-right card-icon" title="Abrir"></i>
                        </div>
                        {% if user[1] == "Administrator" %}
                        <div class="delete" style="cursor: pointer;" onclick="handleDelete(event,'{{item[6]}}')">
                            <div id="nfo" value="{{item[6]}}"></div>
                            <i class="fas fa-trash-alt" title="Borrar"></i>
                        </div>
                        {% endif %}
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
        <div class="confirmation-modal hidden" id="confirmationModal">
            <div class="modal-content">
                <h3>¿Estás seguro de que deseas eliminar?</h3>
                <p>Esta acción no se puede deshacer.</p>
                <div class="modal-actions">
                    <button id="confirmDelete" class="confirm-btn">Sí, eliminar</button>
                    <button id="cancelDelete" class="cancel-btn">Cancelar</button>
                </div>
            </div>
        </div>
    </section>

    <script src="../static/js/home.js"></script>
    <script src="../static/js/sidebar.js"></script>
    <script src="../static/js/card-color.js"></script>
    <script src="../static/js/btn-floating.js"></script>
    <script src="../static/js/send-notifications.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script>
        function mostrarModal() {
            var modal = document.getElementById('add-modal-content');
            modal.style.display = 'block';
        }
    </script>
</body>
</html>