<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - CopyNato</title>
    <link rel="icon" type="image/x-icon" href="../static/img/icon.ico">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/scrollbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../static/img/icon.ico" alt="iconcopy">
                </span>
                <div class="text logo-text">
                    <span class="name">{{user[0]}}</span>
                    <span class="profession" id="role">{{user[1]}}</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Buscar..." id="searchInput">
                </li>
                <ul class="menu-links" id="home">
                    <li class="nav-link">
                        <a href="{{ url_for('home') }}">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-link" id="client">
                        <a href="{{ url_for('clients') }}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Clientes</span>
                        </a>
                    </li>
                </ul>
                <!-- Agrupación de Diseño, Aprobación, Elaboración y Entrega -->
                <hr class="separator"> <!-- Este div agrega espacio y parece separado -->
                <ul class="menu-links">
                    <li class="nav-link" id="diseño">
                        <a href="{{ url_for('design') }}">
                            <i class='bx bx-image-alt icon'></i>
                            <span class="text nav-text">Diseño</span>
                        </a>
                    </li>
                    <li class="nav-link" id="aprobacion">
                        <a href="{{ url_for('approval') }}">
                            <i class='bx bx-check-circle icon'></i>
                            <span class="text nav-text">Aprobación</span>
                        </a>
                    </li>
                    <li class="nav-link" id="elaboracion">
                        <a href="{{ url_for('crafting') }}">
                            <i class='bx bx-edit icon'></i>
                            <span class="text nav-text">Elaboración</span>
                        </a>
                    </li>
                    <li class="nav-link" id="entrega">
                        <a href="{{ url_for('ending') }}">
                            <i class='bx bx-send icon'></i>
                            <span class="text nav-text">Entrega</span>
                        </a>
                    </li>
                </ul>                
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="{{ url_for('settings') }}">
                        <i class='bx bx-cog icon'></i>
                        <span class="text nav-text">Ajustes</span>
                    </a>
                <li class="">
                    <a href="{{ url_for('logout') }}">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Salir</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Modo oscuro</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="home-header">
            <div class="text">Inicio</div>
            <button class="add-btn" type="button">
                <span class="button__text">Añadir</span>
                <span class="button__icon"><svg class="svg" fill="none" height="24" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                        width="24" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" x2="12" y1="5" y2="19"></line>
                        <line x1="5" x2="19" y1="12" y2="12"></line>
                    </svg></span>
            </button>
        </div>
        <div class="add-modal hidden">
            <div class="add-modal-content">
                <div class="form-section">
                    <div class="close-button">
                        <div class="close-icon">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <form class="add-form" action="{{ url_for('form') }}" method="post">
                        <div class="form-group">
                            <label for="title">Título:</label>
                            <input type="text" id="title" name="title" required>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="name">Nombre:</label>
                                <input type="text" id="name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="surname">Apellido:</label>
                                <input type="text" id="surname" name="surname" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="phone">Teléfono:</label>
                                <input type="tel" id="phone" name="phone" value=""  required>
                            </div>
                            <div class="form-group">
                                <label for="date">Fecha:</label>
                                <input type="date" id="date" name="date" value="dd/mm/aaaa" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tipo de trabajo:</label>
                            <div class="job-type-buttons">
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="1" onchange="updatePreview()"> 
                                    <span class="custom-checkbox"></span>
                                    Pendón
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="2" onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Vinilo
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="3" onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Estructura
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="4" onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Valla Publicitaria
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="5" onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Presentación
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="6" onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Volantes
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="7" onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Banderín
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="8" onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Camisa
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="9" onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    NeoFlex
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="10" onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Corte V
                                </label>
                                <label class="job-type-btn">
                                    <input type="checkbox" name="job-type" autocomplete="off" value="11" onchange="updatePreview()">
                                    <span class="custom-checkbox"></span>
                                    Acrílico
                                </label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="total-cost">Costo total:</label>
                                <input type="number" id="total-cost" name="total-cost" required>
                            </div>
                            <div class="form-group">
                                <label for="down-payment">Abono:</label>
                                <input type="number" id="down-payment" name="down-payment" required>
                            </div>
                            <div class="form-group">
                                <label for="remaining">Restante:</label>
                                <input type="number" id="remaining" name="remaining" required readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="description">Comentarios:</label>
                                <textarea id="description" name="description" rows="4" required style="resize: none;"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="custum-file-upload" for="file">Imagen</label>
                                <div class="form-group upload-box">
                                    <div class="upload-icon-container">
                                        <i class="fas fa-upload"></i>
                                        <span>Subir archivo</span>
                                        <input type="file" id="file" onchange="previewImage(this)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <button type="submit" class="submit-btn">Guardar</button>
                                <button type="reset" class="reset-btn">Restablecer</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="preview-section">
                    <h3 class="preview-title">Previsualización</h3>
                    <div class="preview-card-item">
                        <img id="preview-image" src="" alt="Miniatura">
                        <h3 class="preview-card-title"></h3>
                        <p class="preview-card-name-container">
                            <span class="preview-card-name"></span>
                            <span class="preview-card-lastname"></span>
                        </p>
                        <p class="preview-card-info">
                            <span class="preview-job-title"></span>
                            <span class="preview-date"></span>
                            <span class="preview-phone"><i class="fas fa-phone"></i></span>
                        </p>
                        <p class="preview-card-description"></p>
                        <div class="preview-arrow">
                            <i class="fas fa-arrow-right card-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop hidden"></div>
        <div class="card-list" id="cardList">
        {% for item, item2 in filas %}
            <div class="card-item" data-job-type="designer" style="cursor: pointer;">
                <a href="{{ url_for('work', user=item[6] )}}" style="text-decoration: none;color: black">
                    <img src="../static/img/editor.jpg" alt="Card Image">
                    <p class="card-title">{{ item[0] }}</p>
                    <p class="card-name-container">
                        <span class="card-name">{{ item[3] }}</span>
                    </p>
                    <p class="card-info">
                        <span class="job-title">Designer</span>
                        <span class="date">{{ item[1] }}</span>
                        <span class="phone"><i class="fas fa-phone"></i>{{ item[4] }}</span>
                    </p>
                    <p class="card-description">{{ item2 }}</p>
                    <div class="actions">
                        <div class="arrow">
                            <i class="fas fa-arrow-right card-icon" title="Abrir"></i>
                        </div>
                        <div class="delete" style="cursor: pointer;" onclick="handleDelete(event,'{{item[6]}}')">
                            <div id="nfo" value="{{item[6]}}"></div>
                            <i class="fas fa-trash-alt" title="Borrar"></i>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}

        </div>
                
<div class="confirmation-modal hidden" id="confirmationModal">
    <div class="modal-content">
        <h3>¿Estás seguro de que deseas eliminar?</h3>
        <p>Esta acción no se puede deshacer.</p>
        <div class="modal-actions">
            <button id="confirmDelete" class="confirm-btn">Sí, eliminar</button>
            <button id="cancelDelete" class="cancel-btn">Cancelar</button>
        </div>
    </div>
    </section>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/sidebar.js"></script>
</body>
</html>

