<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CopyNato | Inicio de sesión</title>
  <link rel="icon" type="image/x-icon" href="../static/img/icon.ico">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

</head>

<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="info">
            <div class="info__icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill="#393a37" d="m12 1.5c-5.79844 0-10.5 4.70156-10.5 10.5 0 5.7984 4.70156 10.5 10.5 10.5 5.7984 0 10.5-4.7016 10.5-10.5 0-5.79844-4.7016-10.5-10.5-10.5zm.75 15.5625c0 .1031-.0844.1875-.1875.1875h-1.125c-.1031 0-.1875-.0844-.1875-.1875v-6.375c0-.1031.0844-.1875.1875-.1875h1.125c.1031 0 .1875.0844.1875.1875zm-.75-8.0625c-.2944-.00601-.5747-.12718-.7808-.3375-.206-.21032-.3215-.49305-.3215-.7875s.1155-.57718.3215-.7875c.2061-.21032.4864-.33149.7808-.3375.2944.00601.5747.12718.7808.3375.206.21032.3215.49305.3215.7875s-.1155.57718-.3215.7875c-.2061.21032-.4864.33149-.7808.3375z"></path></svg>
            </div>
            <div class="info__title">{{ message }}</div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  <header>
    <div class="logo">
      <img src="../static/img/CopyNato.png" alt="CopyNato">
      <h2 class="nombre-empresa"></h2>
    </div>
    <nav>
      <button class="contacto">Contacto</button>
    </nav>
  </header>
  <section class="modal">
    <div class="modal__container">
      <h2 class="modal__title">CONTACTO</h2>
      <div class="cardContainer">
        <div class="card">
          <img src="../static/img/qr-code.png" alt="none">
          <div class="minmaxContainer">
            <div class="min">
            </div>
            <div class="max">
            </div>
          </div>
        </div>
      </div>
      <p class="modal__paragraph">Para más información o reporte de problemas. Scannea el código QR</p>
      <p class="text-extra">Desarrollado por: <br>Rafael Bonilla <br>César Maldonado <br>Andrés Martínez <br>José Caldera</p>
      <a href="#" class="btn__cerrar">Cerrar</a>
    </div>
  </section>
  </div>
  </div>

  <div class="fondo-animado"></div>
  <div class="formulario">
    <h1>Inicio de sesión</h1>
    <form method="post" action="{{ url_for('login') }}">
      <div class="username">
          <input name="username" type="text">
          <label>Nombre de usuario</label>
          <i class="fa-solid fa-user"></i>
      </div>
      <div class="username">
          <input name="password" type="password">
          <label>Contraseña</label>
          <i class="fa-solid fa-lock"></i>
      </div>
      <input type="submit" value="Login"> 
      </div>
    </form>
  </div>
  <script src="../static/script.js"></script>
</body>

</html>