<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajustes - CopyNato</title>
    <link rel="icon" type="image/x-icon" href="../static/img/icon.ico">
    <link rel="stylesheet" href="../static/css/settings.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../static/img/icon.ico" alt="iconcopy">
                </span>
                <div class="text logo-text">
                    <span class="name">{{user[0]}}</span>
                    <span class="profession" id="role">{{user[1]}}</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{{ url_for('home') }}">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-link" id="client">
                        <a href="{{ url_for('clients') }}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Clientes</span>
                        </a>
                    </li>
                </ul>
                <hr class="separator">
                <ul class="menu-links">
                    <li class="nav-link" id="diseño">
                        <a href="{{ url_for('design') }}">
                            <i class='bx bx-image-alt icon'></i>
                            <span class="text nav-text">Diseño</span>
                        </a>
                    </li>
                    <li class="nav-link" id="aprobacion">
                        <a href="#">
                            <i class='bx bx-check-circle icon'></i>
                            <span class="text nav-text">Aprobación</span>
                        </a>
                    </li>
                    <li class="nav-link" id="elaboracion">
                        <a href="#">
                            <i class='bx bx-edit icon'></i>
                            <span class="text nav-text">Elaboración</span>
                        </a>
                    </li>
                    <li class="nav-link" id="entrega">
                        <a href="#">
                            <i class='bx bx-send icon'></i>
                            <span class="text nav-text">Entrega</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="{{ url_for('settings') }}">
                        <i class='bx bx-cog icon'></i>
                        <span class="text nav-text">Ajustes</span>
                    </a>
                </li>
                <li class="">
                    <a href="{{ url_for('logout') }}">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Salir</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Modo oscuro</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="home-header">
            <div class="back-button">
                <a href="javascript:history.back()" class="back-btn">
                    <i class='bx bx-chevron-left' ></i> <!-- Puedes cambiar el ícono aquí -->
                </a>
                <div class="text">Historial</div>
            </div>
        </div>
        <div class="grid-container">
            {% for item in filas %}
                {% for item2 in item %}
                    <div class="grid-item">{{ item2 }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <form action="{{ url_for('create_record') }}" target="response_frame">
            <div class="button-container">
                <button class="submit-button" type="submit" id="saveButton">Guardar</button>
            </div>
        </form>
        <iframe name="response_frame" style="border:none; width:100%; height:50px;"></iframe>
    </section>
    <script src="../static/js/sidebar.js"></script>
    
</body>
</html>

