<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes - CopyNato</title>
    <link rel="icon" type="image/x-icon" href="../static/img/icon.ico">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/clients.css">
    <link rel="stylesheet" href="../static/css/scrollbar.css">
    <link rel="stylesheet" href="../static/css/flash.css">    
    <link rel="stylesheet" href="../static/css/settings-user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../static/img/icon.ico" alt="iconcopy">
                </span>
                <div class="text logo-text">
                    <span class="name">{{user[0]}}</span>
                    <span class="profession">{{user[1]}}</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Buscar..." id="searchInput">
                </li>
                <ul class="menu-links" id="home">
                    <li class="nav-link">
                        <a href="{{ url_for('home') }}">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-link" id="client">
                        <a href="{{ url_for('clients') }}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Clientes</span>
                        </a>
                    </li>
                </ul>
                <!-- Agrupación de Diseño, Aprobación, Elaboración y Entrega -->
                <hr class="separator"> <!-- Este div agrega espacio y parece separado -->
                <ul class="menu-links">
                    <li class="nav-link" id="diseño">
                        <a href="{{ url_for('design') }}">
                            <i class='bx bx-image-alt icon'></i>
                            <span class="text nav-text">Diseño</span>
                        </a>
                    </li>
                    <li class="nav-link" id="aprobacion">
                        <a href="{{ url_for('approval') }}">
                            <i class='bx bx-check-circle icon'></i>
                            <span class="text nav-text">Aprobación</span>
                        </a>
                    </li>
                    <li class="nav-link" id="elaboracion">
                        <a href="{{ url_for('crafting') }}">
                            <i class='bx bx-edit icon'></i>
                            <span class="text nav-text">Elaboración</span>
                        </a>
                    </li>
                    <li class="nav-link" id="entrega">
                        <a href="{{ url_for('ending') }}">
                            <i class='bx bx-send icon'></i>
                            <span class="text nav-text">Entrega</span>
                        </a>
                    </li>
                </ul>         
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="{{ url_for('settings') }}">
                        <i class='bx bx-cog icon'></i>
                        <span class="text nav-text">Ajustes</span>
                    </a>
                <li class="">
                    <a href="{{ url_for('logout') }}">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Salir</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Modo oscuro</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="home-header">
            <div class="back-button">
                <a href="/settings" class="back-btn">
                    <i class='bx bx-chevron-left'></i>
                </a>
                <div class="text">
                    <a href="/settings" style="color: #695cfe; text-decoration: none;">Ajustes</a> > Gestion de Clientes
                </div>
            </div>
        </div>

        <div class="home-header">
            <div class="text"></div>
            <button class="add-btn" type="button" id="openModal">
                <span class="button__text">Añadir</span>
                <span class="button__icon">
                    <svg class="svg" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" x2="12" y1="5" y2="19"></line>
                        <line x1="5" x2="19" y1="12" y2="12"></line>
                    </svg>
                </span>
            </button>
        </div>
<!-- Add Modal -->
<div class="add-modal hidden" id="addModal">
    <div class="add-modal-content">
        <div class="form-section">
            <div class="close-button" id="closeModal">
                <div class="close-icon">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <form class="add-form" action="{{ url_for('create_client') }}" method="post" enctype="multipart/form-data" id="addForm">
                <div class="form-row" id="userFields">
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" id="name" name="firstname" required>
                    </div>
                    <div class="form-group">
                        <label for="surname">Apellido:</label>
                        <input type="text" id="surname" name="lastname" required>
                    </div>
                </div>
                <div class="form-row" id="telField">
                    <div class="form-group">
                        <label for="phone">Teléfono:</label>
                        <div style="display: flex; align-items: center;">
                            <select id="country-code" name="country-code" style="width: 80px;">
                                <option value="+58">+58</option>
                                <option value="+57">+57</option>
                            </select>
                            <input type="tel" id="phone" name="phone" value="" required maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="custum-file-upload" for="file">Imagen</label>
                    <div class="form-group upload-box">
                        <div class="upload-icon-container">
                            <i class="fas fa-upload"></i>
                            <span>Subir archivo</span>
                            <input type="file" id="file" name="file" onchange="previewImage(this)">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button type="submit" class="submit-btn">Guardar</button>
                        <button type="reset" class="reset-btn">Restablecer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h3 class="preview-title">Previsualización</h3>
    <div class="preview-section">
        <div class="preview-card-item"></div>
            <img id="preview-image" src="" alt="Miniatura">
            <p> <span id="previewName"></span></p>
            <p> <span id="previewCompany"></span></p>
    </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="flash-messages">
        {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
<div class="modal-backdrop hidden" id="modalBackdrop"></div>
<div class="card-list-client">
    {% for item in cliente %}
        <div class="card-client">
            {% if os.path.exists('uploads/' + item[0] + '.png') %}
                <img src="../uploads/{{item[0]}}.png" alt="User Image">
            {% else %}
                <img src="../static/img/user-default.png" alt="User Image">
            {% endif %}
            <p class="default-client-name">{{ item[0] }}</p>
            <p class="client-company">{{ item[1] }}</p>
            <div class="actions">
                <div class="edit" onclick="editModal('{{ item[2] }}')">
                    <i class="fas fa-edit" title="Editar"></i>
                </div>
                <div class="delete" onclick="showModal('{{ item[2] }}')">
                    <div id="nfo" value=""></div>
                    <i class="fas fa-trash-alt" title="Borrar"></i>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="custom-modal-backdrop hidden" id="modalBackdrop"></div>
<div class="custom-modal hidden" id="editUserModal">
    <div class="form-card-custom">
        <h3>Editar Cliente</h3>
        <form class="add-form" id="editForm" method="post">
            <div class="form-row" id="userFields">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="names">
                </div>
                <div class="form-group">
                    <label for="surname">Apellido:</label>
                    <input type="text" id="surname" name="surname">
                </div>
            </div>
            <div class="form-row" id="telField">
                <div class="form-group">
                    <label for="phone">Teléfono:</label>
                    <div style="display: flex; align-items: center;">
                        <select id="country-code" name="country-code" style="width: 80px;">
                            <option value="+58">+58</option>
                            <option value="+57">+57</option>
                        </select>
                        <input type="tel" id="phone" name="phone" value="" maxlength="10">
                    </div>                            
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="submit-btn">Guardar</button>
                <button type="button" class="cancel-btn" onclick="closeModal()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

    <div class="confirmation-modal hidden" id="confirmationModal">
        <div class="modal-content">
            <h3>¿Estás seguro de que deseas eliminar?</h3>
            <p>Esta acción no se puede deshacer.</p>
            <div class="modal-actions">
                <button id="confirmDelete" class="confirm-btn">Sí, eliminar</button>
                <button id="cancelDelete" class="cancel-btn">Cancelar</button>
            </div>
        </div>
    </div>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/sidebar.js"></script>
    <script src="../static/js/s-clients.js"></script>
    
    <script>
        function editModal(clientId) {
            document.getElementById('editUserModal').classList.remove('hidden');
            document.getElementById('editUserModal').classList.add('visible');
            document.getElementById('modalBackdrop').classList.remove('hidden');
            document.getElementById('modalBackdrop').classList.add('visible');
        
            // Actualiza el action del formulario
            var form = document.getElementById('editForm');
            form.action = "/change-client/" + clientId; // Cambia '/edit_client/' a la URL correcta si es necesario
        }
        
        function closeModal() {
            document.getElementById('editUserModal').classList.remove('visible');
            document.getElementById('editUserModal').classList.add('hidden');
            document.getElementById('modalBackdrop').classList.remove('visible');
            document.getElementById('modalBackdrop').classList.add('hidden');
        }
        
        document.getElementById('modalBackdrop').addEventListener('click', closeModal);                  
    </script>

    <script>
document.addEventListener('DOMContentLoaded', () => {
    const searchInput = document.getElementById('searchInput');
    const cardList = document.querySelector('.card-list-client');
    const cardItems = cardList.querySelectorAll('.client-link');
    const sidebar = document.querySelector('.sidebar');

    // Control de búsqueda
    if (searchInput) {
        searchInput.addEventListener("input", () => {
            const searchTerm = searchInput.value.toLowerCase();
            cardItems.forEach(cardItem => {
                const cardContent = cardItem.textContent.toLowerCase();
                if (cardContent.includes(searchTerm)) {
                    cardItem.style.display = "block";
                } else {
                    cardItem.style.display = "none";
                }
            });
        });
    } else {
        console.warn("El campo de búsqueda no se encontró.");
    }

    // Abrir el modal
    document.getElementById('openModal').addEventListener('click', function () {
        document.getElementById('addModal').classList.remove('hidden');
        document.querySelector('.modal-backdrop').classList.remove('hidden');
    });

    // Cerrar el modal
    document.getElementById('closeModal').addEventListener('click', function () {
        document.getElementById('addModal').classList.add('hidden');
        document.querySelector('.modal-backdrop').classList.add('hidden');
    });

    // Cerrar el menú al hacer clic fuera de él, pero no si se hace clic en las tarjetas
    document.addEventListener('click', function (event) {
        if (!sidebar.contains(event.target) && !cardList.contains(event.target)) {
            sidebar.classList.add('close'); // Cierra el menú
        }
    });

    
    // Previsualización en tiempo real
    const nameInput = document.getElementById('name');
    const companyInput = document.getElementById('company');
    const previewName = document.getElementById('previewName');
    const previewCompany = document.getElementById('previewCompany');

    nameInput.addEventListener('input', function () {
        previewName.textContent = nameInput.value;
    });

    companyInput.addEventListener('input', function () {
        previewCompany.textContent = companyInput.value || 'N/A';
    });
});

      </script>
  </body>

</html>