<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{details[0]}} - CopyNato</title>
    <link rel="icon" type="image/x-icon" href="../static/img/icon.ico">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/scrollbar.css">
    <link rel="stylesheet" href="../static/css/work.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../static/img/icon.ico" alt="iconcopy">
                </span>
                <div class="text logo-text">
                    <span class="name">{{user[0]}}</span>
                    <span class="profession" id="role">{{user[1]}}</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link"><a href="{{ url_for('home') }}"><i class='bx bx-home-alt icon'></i><span
                                class="text nav-text">Inicio</span></a></li>
                    <li class="nav-link" id="client"><a href="{{ url_for('clients') }}"><i
                                class='bx bx-user icon'></i><span class="text nav-text">Clientes</span></a></li>
                </ul>
                <hr class="separator">
                <ul class="menu-links">
                    <li class="nav-link" id="diseño"><a href="{{ url_for('design') }}"><i
                                class='bx bx-image-alt icon'></i><span class="text nav-text">Diseño</span></a></li>
                    <li class="nav-link" id="aprobacion"><a href="{{ url_for('approval') }}"><i
                                class='bx bx-check-circle icon'></i><span class="text nav-text">Aprobación</span></a>
                    </li>
                    <li class="nav-link" id="elaboracion"><a href="{{ url_for('crafting') }}"><i
                                class='bx bx-edit icon'></i><span class="text nav-text">Elaboración</span></a></li>
                    <li class="nav-link" id="entrega"><a href="{{ url_for('ending') }}"><i
                                class='bx bx-send icon'></i><span class="text nav-text">Entrega</span></a></li>
                </ul>
            </div>
            <div class="bottom-content">
                {% if user[1] != "Administrator" %}
                    <!-- No mostrar nada -->
                {% else %}
                    <li class="" id="setting">
                        <a href="{{ url_for('settings') }}">
                            <i class='bx bx-cog icon'></i>
                            <span class="text nav-text">Ajustes</span>
                        </a>
                    </li>
                {% endif %}
                <li class="">
                    <a href="{{ url_for('logout') }}">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Salir</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Modo oscuro</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

        

    <section class="home">
        <div class="home-header">
            <div class="back-button">
                <a href="/home" class="back-btn">
                    <i class='bx bx-chevron-left'></i>
                </a>
                <div class="text">
                    <a href="/home" style="color: #695cfe; text-decoration: none;">Inicio</a> > Detalles
                    
                    <div class="notification-container">
                        <div class="notification-indicator" id="notificationIndicator"></div> <!-- Indicador de notificación -->
                        <button class="notification-button" id="notificationButton">
                            <i class="bx bxs-bell"></i> <!-- Icono de notificaciones -->
                        </button>
                        <div class="notification-dropdown" id="notificationDropdown"></div>
                    </div>
                    
                    

                </div>
            </div>
        </div>

        <!-- Mensajes Flash -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="card">
            <div class="card-header">
            <h2>{{ details[0] }}</h2>
            {% if details[10] == 1 %}
                {% set fase='Diseño' %}
                <div class="fase diseno">
                    <i class="fa-solid fa-sliders"></i>{{ fase }}</div>
            {% elif details[10] == 2 %}
                {% set fase='Aprobacion' %}
                <div class="fase aprobacion">
                    <i class="fa-regular fa-circle-check"></i>{{ fase }}</div>
            {% elif details[10] == 3 %}
                {% set fase='Elaboracion' %}
                <div class="fase elaboracion">
                    <i class="fa-solid fa-crop-simple"></i>{{ fase }}</div>
            {% elif details[10] == 4 %}
                {% set fase='Entrega' %}
                <div class="fase entrega">
                    <i class="fa-regular fa-paper-plane"></i>{{ fase }}</div>
            {% endif %}
        </div>
            <div class="info-title"></div>
            <div class="job-types-wrappers">
                <div class="job-types-containers" id="jobTypesContainer">
                    {% for t in types %}
                    <span class="types job-type-{{ t | lower | replace(' ', '-') }}">{{ t }}</span>
                    {% endfor %}
                </div>
            <div class="info-container">
                <div class="info-item">
                    <div class="info-title">Cliente titular:</div>
                    <div class="info-box">
                        {% if os.path.exists('uploads/' + details[7] + '.png') %}
                            <img src="../uploads/{{details[7]}}.png" class="client-image">
                        {% else %}
                            <img src="../static/img/user-default.png" class="client-image">
                        {% endif %}
                        <span>{{ details[7] }}</span>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-title">Teléfono:</div>
                    <div class="info-box">{{details[8]}}</div>
                </div>
                <div class="info-item">
                    <div class="info-title">Fecha de registro:</div>
                    {% set date = details[1].split('-') %}
                    <div class="info-box">{{date[2]}}/{{date[1]}}/{{date[0]}}</div>
                </div>
                <div class="info-item">
                    <div class="info-title">Fecha de entrega:</div>
                    <div class="info-box">{{details[2]}}</div>
                </div>

                <div class="info-item">
                    <div class="info-title">Tipo de moneda:</div>
                    <div class="info-box">{{details[3]}}</div>
                </div>
                <div class="info-item total-info">
                    <div class="info-title">Total:</div>
                    <div class="info-box money">
                        <span>{{details[6]}}</span>
                        {% if user[1] != "Administrator" %}
                            <!-- No mostrar nada -->
                        {% else %}
                        <i class="bx bx-edit edit-total" id="editbutton"></i>
                        {% endif %}
                    </div>
                </div>
                
                <div class="confirmation-modal hidden" id="totalEditModal">
                    <div class="modal-content">
                        <h3>Editar total</h3>
                        <br>
                        <div class="modal-input-container">
                            <input type="number" id="newTotalInput" placeholder="Nuevo total" step="0.01" required/>

                        </div>
                        <div class="modal-textarea-container">
                            <textarea id="TotalReason" rows="4" placeholder="Motivo del cambio" required></textarea>
                        </div>
                        <div class="modal-actions">
                            <button id="confirmTotalEdit" class="confirm-btn" onclick="updateCurrency()">Guardar</button>
                            <button id="cancelTotalEdit" class="cancel-btn">Cancelar</button>
                        </div>
                    </div>
                </div>
                
                <div class="info-item abonado-info">
                    <div class="info-title">Abonado:</div>
                    <div class="info-box money">{{details[4]}}
                    {% if user[1] == "Administrator" %}
                        <i class="bx bx-edit edit-abonado" id="editAbonadoButton"></i>
                    {% endif %}
                    </div>
                </div>

                <div class="confirmation-modal hidden" id="abonadoEditModal">
                    <div class="modal-content">
                        <h3>Añadir Abono</h3>
                        <br>
                        <div class="modal-input-container">
                            <input type="number" id="newAbonadoInput" placeholder="ingrese solo el monto abonado" step="0.01" required />

                        </div>
                        <div class="modal-actions">
                            <button id="confirmAbonadoEdit" class="confirm-btn" onclick="updateAbonado()">Guardar</button>
                            <button id="cancelAbonadoEdit" class="cancel-btn">Cancelar</button>
                        </div>
                    </div>
                </div>

                <div class="info-item">
                    <div class="info-title">Restante de abono:</div>
                    <div class="info-box money">{{details[5]}}</div>
                </div>
            </div>
                <div class="history-item">
                    <div class="info-title">Historial de desarrollo:</div>
                    <div class="info-box">
                        {% for text in details[9] %}
                        {{ text }} <br><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="comment-section">
                    <div class="input-container">
                        <textarea class="comment-input" name="comments" rows="4" placeholder="oprime ENTER para enviar..." id="comments"></textarea>
                        <div class="button-container">

                            <form action="{{ url_for('open_folder', id=nor, nombre=details[0], cliente=details[7]) }}" target="response_frame">
                                <button class="additional-button" type="submit"><i class="bx bx-folder-open"></i> Abrir Carpeta</button>
                            </form>
                            <div class="destination-selects">
                                <button class="status-button approved" id="approved" type="button" onclick="setStatus('approved', this)">
                                    Aprobado
                                </button>

                                {% if user[1] != "Administrator" %}
                            <!-- No mostrar nada -->
                                {% else %}
                                <button class="status-button rejected" id="rejected" type="button" onclick="setStatus('canceled', this)">
                                    Rechazado
                                </button>
                                {% endif %}
                                
                            </div>
                            
                            <button class="additional-button" type="button" onclick="handleComplete('{{nor}}')"><i class="bx bx-check-circle"></i> Completado</button>
                        </div>
                    </div>
                </div>
                
                
                
            <div class="confirmation-modal hidden" id="confirmationModal">
                <div class="modal-content">
                    <h3>¿Estás seguro de su decisión?</h3>
                    <div class="modal-actions">
                        <button id="confirmDelete" class="confirm-btn">Sí</button>
                        <button id="cancelDelete" class="cancel-btn">Cancelar</button>
                    </div>
                </div>
            </div>
            <script src="../static/js/roles.js"></script>
            <script src="../static/js/home.js"></script>
            <script src="../static/js/sidebar.js"></script>
            <script src="../static/js/work.js"></script>
            <script src="../static/js/socket.io.js"></script>
            <script src="../static/js/send-notifications.js"></script>
        </div>
        <input type="hidden" id="id" value="{{nor}}">
        <input type="hidden" id="user" value="{{user[0]}}">
        <iframe name="response_frame" style="border: none; width: 100%; height: 50px;"></iframe>
    </section>
</body>
</html>